div.auto_complete {
width: 350px;
background: #fff;
cursor: default;
position: relative; z-index: 99999;
}
div.auto_complete ul {
border: 1px solid #888;
margin: 0;
padding: 0;
width: 100%;
list-style-type: none;

}
div.auto_complete ul li {
margin: 0;
padding: 3px;

}
div.auto_complete ul li.selected { 
background-color: #ffb; 

}
div.auto_complete ul strong.highlight { 
color: #800; 
margin: 0;
padding: 0;
}

div.auto_complete ul li .informal {
display:block; font-size:11px; color:#999;
}
