.ac_results {
	padding: 0px;
	border: 1px solid #686d6f;
	background-color: #fff;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 4px;
	cursor: default;
	display: block;
	/*
	if width will be 100% horizontal scrollbar will apear
	when scroll mode will be used
	*/
	/*width: 100%;*/
	font: menu;
	font-size: 12px;
	/*
	it is very important, if line-height not setted or setted
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
	font: normal 12px Arial, Helvetica;
}

.ac_loading {
/*	background: white url('indicator.gif') right center no-repeat;*/
}

.ac_odd {
/*	background-color: #f8f9fa;*/
}

.ac_over {
	background-color: #ffffcc;
/*	color: #fff;*/
}



td, body, p, div { font: normal 12px Arial, Tahoma, Helvetica, sans-serif; line-height: 16px; color: #2F3030; margin: 0; padding: 0; }
body { margin: 10px 0; background: #fff; }
img { border: 0; }
form, h1, h2, h3, h4, ul, ol, li { margin: 0; padding: 0; }
.clear { clear: both; line-height: 0px; height: 0px; padding: 0; margin: 0; }



a { color: #124a95; /*rip.. 064599*/ border: none; text-decoration: none; background: url('../images/default/href.gif') repeat-x left bottom; cursor: pointer; }
a:hover { color: #000; }


.wait { cursor: wait; }

/* bannerek */
table.banner-billboard { clear: both; vertical-align: center; margin: 0 auto 12px auto; text-align: center;  }
table.banner-billboard div { height: 13px; margin-bottom: 4px; background: url('../images/default/ad_horizontal.gif') 50% 5px no-repeat; }

table.banner-rectangle { clear: both; margin-bottom: 14px; }
table.banner-rectangle div { height: 8px; margin-bottom: 4px; background: url('../images/default/ad_horizontal.gif') 50% 0 no-repeat; }

.banner-sky { width: 742px; float: right; text-align: right; background: url('../images/default/ad_vertical.gif') 0 50% no-repeat; margin-bottom: 12px; }


table.banner-billboard a, table.banner-rectangle a, .banner-sky a { background: none; }

/* rss ikon */
a.feed { background: none; line-height: 14px; padding: 0; width: 13px; height: 13px; }
a.feed img { width: 13px; height: 13px; margin: 0 0 0 3px; }



/* üzenet csík */
.message-item { clear: both; height: 26px; z-index: 9999; overflow: hidden; border-top: 1px solid #eeeebb; border-bottom: 1px solid #eeeebb; background-color: #ffffcc; margin-bottom: 16px;
font-size: 11px; text-align: center; line-height: 26px; }
.message-item a { font-weight: bold; color: #222; background: none; text-decoration: underline; }


/*#container { background-color: #fff; width: 960px; padding: 0 16px; margin: 0 auto; -moz-box-shadow: 0 0 18px #ddd; box-shadow: 0 0 18px #ddd; -webkit-box-shadow: 0 0 10px #ddd; } */


/* fejléc */
#header { width: 960px; margin: 0 auto; position: relative; }

	/* felhasználói menü, kereső */
	#search { width: 960px; text-align: right; margin-bottom: 10px; }

	#search ul { display: inline; padding: 0 22px 0 0; text-align: right; }
	#search ul li { list-style: none; display: inline; padding: 0 4px; margin: 0; border-right: 1px solid #d8dddf; }
	#search ul li.last { border: none; padding-right: 0; }
	#search ul li.social { border: none; padding-left: 22px; clear: both; }
	#search ul li.social a { width: 16px; height: 16px; display: inline-block; vertical-align: middle; margin: 0 3px; background: url('../images/default/img7.gif') 0 0 no-repeat; }

	#search ul li.social a.rss { background-position: -206px 0; }
	#search ul li.social a.tw { background-position: -206px -16px; }
	#search ul li.social a.fb { background-position: -206px -32px; }


	#search ul li.jatekkapu { padding-right: 16px; border-right: none; }
	#search ul li.jatekkapu a { color: #aaa; font-size: 11px; height: 18px; padding: 0 42px; line-height: 18px; background: url('../images/default/jatekkapu.gif') 0 -2px no-repeat; }

	#search-form { display: inline; }
	#search-form div { display: inline; }
	#search-form input.text { width: 170px; padding: 3px; }
	#search-form input { vertical-align: middle; }
	#search-form input.button { padding: 1px 3px; }

	#logo { margin-left: 18px; width: 162px; position: absolute; bottom: 50px; }
	#logo a { display: block; width: 162px; height: 40px; position: relative; background: none; overflow: hidden; color: #363838; outline: none; line-height: 15px; }
	#logo a span { width: 100%; height: 100%; position: absolute; background: url('../images/default/img7.gif') 0 0 no-repeat; cursor: pointer; }


	/* menü sor */
	#menu { clear: both; width: 960px; height: 34px; background: #4e4e4e url('../images/default/menu_bg.gif') repeat-x; }
	#menu .side { width: 4px; height: 34px; background-repeat: no-repeat; background-image: url('../images/default/img7.gif'); }
	#menu .left { float: left; background-position: -202px 0;}
	#menu .right { float: right; background-position: -198px 0; }

	#menu li { float: left; display: block; list-style: none; padding: 0; }
	#menu li a.title { background: url('../images/default/img7.gif') -2000px 0 no-repeat; font-size: 12px; line-height: 15px; font-weight: bold; display: block; height: 14px; padding: 10px 0; text-align: center; color: #fff; margin-right: 8px; }
	
	/* rovat lista */

	#category { float: left; padding-left: 12px; }

	#category .kezdolap a.title { width: 72px; }

	#category .itthon a.title { width: 63px; background-position: 0 -54px; }
	#category .nagyvilag a.title { width: 86px; background-position: -63px -54px; }
	#category .szorakozas a.title { width: 98px; background-position: -149px -54px; }
	#category .technika a.title { width: 84px; background-position: -247px -54px; }
	#category .sport a.title { width: 62px; background-position: -331px -54px; }

	#category .videok a.title { margin-left: 8px; width: 52px; }
	#category .jegyzetek a.title { width: 62px; }

	#category .kezdolap a.title:hover, #category .videok a.title:hover, #category .jegyzetek a.title:hover { }

	/* dropdown listák */
	.dd { position: relative; }
	.dd div { background: #29272e; width: 355px; padding: 6px 8px; position: absolute; left:0; top: 34px;
	border: 3px solid #fff; border-top-width: 0; border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; }
	.dd div { font-size: 11px; color: #aaa; }
	.dd div a { font-size: 12px; background: none; color: #fff; padding: 2px; }
	.dd div a:hover { text-decoration: underline;  }
	.dd div span { display: block; }

	.dd { height: 34px; overflow: hidden; }
	.dd:hover { overflow: visible; }
	.dd { display: none; }
	html>body .dd { display: block; position: relative; z-index: 9999;  }


	/* új téma beküldése */
	#add { float: right; margin: 0; padding: 0 18px 0 6px; }
	#add li a.title { text-align: center; width: 134px; background: url('../images/default/img7.gif') -393px -54px no-repeat; }



#wrapper { clear: both; width: 960px; margin: 12px auto 0 auto; }
#center-wrapper { float: left; width: 960px; } /* címlap kivetelevel mindenhol */

/*.right-wrapper { width: 330px; float: right; padding-top: 4px; }*/


/* fejléc kiemelések */
#topstories { padding: 2px 0 10px 0; float: left; width: 960px; border-bottom: 3px solid #ddd; margin: 0 0 12px 0; }
#topstories-outside { position: relative; z-index: 3; overflow: hidden; width: 918px; float: left; }
#topstories-inside { float: left; position: relative; overflow: hidden; padding: 0; width: 10000px; height: 64px; }
#topstories-inside div { width: 230px; height: 64px; float: left; padding: 0 8px 0 68px; background-position: 0 0; background-repeat: no-repeat; overflow: hidden; }
#topstories-inside div b { height: 64px; display: table-cell; #display:block; vertical-align: middle; width: 238px; }
#topstories-inside div a { font: bold 18px Arial; letter-spacing: -0.1px; line-height: 21px; }

#topstories-left, #topstories-right { float: left; display: block; cursor: pointer; outline: none; width: 16px; height: 62px; }

#topstories-left { background: url('../images/default/img7.gif') -559px -26px no-repeat; margin-right: 8px; }
#topstories-right { background: url('../images/default/img7.gif') -543px -26px no-repeat; margin-left: 2px; }

#topstories-left:hover { background-position: -575px -26px; }
#topstories-right:hover { background-position: -527px -26px; }




/* reklám csík */
#promo { text-align: center; clear: both; /*border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;*/ border-top: 1px solid #eeeebb; border-bottom: 1px solid #eeeebb; background-color: #ffffcc; padding: 12px 0 10px 0; margin-bottom: 18px; }
#promo a { text-decoration: underline; font-size: 14px; margin: 0 4px; }







/* általános dolgok */
.form { width: 602px; overflow: hidden; float: left; padding: 0 12px 8px 0;  border-right: 1px solid #d8dddf; }


.right { width: 330px; float: right; }
.right h4, #home-first .form h4 { padding: 6px 0; overflow: hidden; margin: 0 0 6px 0; color: #000; font: bold 18px Arial, Helvetica; }
/*.right h4 a { color: #000; }*/

#footer { width: 960px; margin: 18px 0 0 0; padding: 22px 0 20px 0; border-top: 1px solid #e8edef; text-align: center; color: #222; line-height: 20px; font-size: 11px; }
#footer a { font-size: 12px;font-weight: bold; }


/* ********************* cimlap ****************** */

#home-first { float: left; width: 960px; padding: 0 0 8px 0; }
#home-first .form { width: 602px; padding-bottom: 0; }


/* kiemelt vezető doboz */
.leader { width: 600px; overflow: hidden; padding: 6px 0 12px 0; margin-bottom: 8px;/* border-bottom: 1px solid #f8f9fa; */}
.leader .block-image {  }
.leader .block-image img { float: left; width: 270px; }

.leader .lead-text { float: left; padding-left: 16px; width: 314px; overflow: hidden; }
.leader .lead-text-noimg { padding-left: 0; width: 608px; }
.leader .lead-text h2 { padding: 0; margin: 0; font: bold 34px Arial, Helvetica; letter-spacing: -0.4px; line-height: 34px; }

.leader .lead-text-noimg h2 { font-size: 40px; line-height: 38px; }
.leader .lead-text h2 a { color: #000; }

.leader .lead-text p { padding: 0 6px 0 0; margin: 12px 0 0 0; }
.leader .lead-text p span { padding: 0 0 0 2px; font-style: italic; }
.leader .lead-text ul { clear: both;  padding: 10px 0 0 0; margin: 0; }
.leader .lead-text ul li { list-style-type: none; list-style-position: inside; font-size: 14px; color: #999; padding: 1px 0 2px 0; line-height: 17px; font-weight: bold; }



/* most beszédtéma dobozok */
#commented-box { width: 330px; overflow: hidden; padding: 0; margin-bottom: 10px; }
#commented-box div { clear: both; margin-bottom: 12px; }
#commented-box a { clear: both; font-weight: bold; text-decoration: none; padding: 2px 0; }
#commented-box a:visited { color: #4d77b0; }
#commented-box a b { float: right; color: #a8adaf; padding-left: 5px; }
#commented-box a i { font-size: 11px;  font-style: normal; font-weight: normal; white-space: nowrap; color: #b8bdbf; }

/* most beszédtéma széles a címlapon */
#home-first .form h4 { margin-bottom: 0; font-size: 12px; }
#home-first .form h4 a { vertical-align: middle; }
.form #commented-box { width: 592px; height: 170px; overflow-y: scroll; border-top: 5px solid #eee; border-bottom: 5px solid #eee; padding: 8px 8px 0 0; }
.form #commented-box div { margin-bottom: 8px; }


.trends { display: inline; float: right; padding: 5px 0 0 16px; text-align: right; }
.trends a { font-weight: bold; margin-right: 14px; padding-right: 10px; white-space: nowrap; color: #000; }
.trends a.up { background: url('../images/default/trends_up.gif') no-repeat center right; }
.trends a.down { background: url('../images/default/trends_down.gif') no-repeat center right; }
.trends a.caption { color: #a8adaf; padding: 0; font-weight: normal; font-size: 11px; }



/* címlapi dobozok */
.blocks { float: left; padding-top: 12px; overflow: hidden; }
.blocks-left { width: 295px; border-right: 1px solid #e8edef; padding-bottom: 8px; }
.blocks-right { width: 285px; margin-left: 19px; }


.block { width: 280px; overflow: hidden; }


.blocks-left .block { margin-bottom: 12px; padding-top: 12px; border-top: 1px solid #e8edef; }
.blocks-left .block:first-child { padding-top: 0; border-top: none; }
.blocks-right .block { margin-bottom: 10px; padding-bottom: 8px;  border-bottom: 0px solid #e8edef; }


.block .block-image {  }
.block .block-image img { }

.block .lead-text { float: left; padding-right: 16px; width: 314px; overflow: hidden; }

.block h3 { margin: 0; font: bold 18px Arial; line-height: 20px;  }
	.blocks-right h3 { padding: 8px 0 0 0; font: bold 16px Arial; line-height: 19px;  }

.block h3 a { color: #000; }

.block p { padding: 8px 0 0 0; }
.block p span { padding: 0 0 0 2px; font-style: italic; }

.info { margin-top: 6px; font: normal 11px Arial, Georgia, Times; color: #999; }
.info a { color: #999; margin-right: 8px; }
.info a:hover { color: #333; }
.info img { vertical-align: middle; width: 16px; height: 16px; margin-right: 2px; }
.info .comments { font-weight: bold; color: #124a95; }


.block ul { clear: both;  padding: 8px 0 0 0; margin: 0; }
.block ul li { list-style-type: none; list-style-position: inside; font-size: 12px; color: #999; padding: 0 0 4px 0; line-height: 14px; font-weight: bold; }




/*
.tweet-block { float: left; margin: 12px 0 0 0; border-bottom: 1px solid #e8edef;  background: url('../images/default/tweet_box_bg.png') repeat-x bottom left; }
.tweet-block .heading { padding: 4px 0 4px 8px; margin-bottom: 6px; }
.tweet-block .heading a { font-weight: bold; color: #333; }
.tweet-block ul { float: right; width: 586px; overflow: hidden; padding: 2px 8px 8px 8px; }
.tweet-block ul li { border-top: 1px dashed #d8dddf; padding-top: 8px; margin-top: 8px; float: left; display: block; list-style-type: none; list-style-position: inside;  }
.tweet-block ul li:first-child { border-top: none; padding-top: 0; margin-top: 0; }
.tweet-block ul li img { float: left; margin: 0 16px 0 0; }
.tweet-block ul li div { float: left; width: 546px; color: #999; font: normal 11px Arial, Helvetica; }
.tweet-block ul li div a { }
.tweet-block ul li div .name { font-weight: bold; }
.tweet-block ul li div .date { color: #aaa; font-style: italic; font-size: 10px; white-space: nowrap; background: none; }
*/
/* ..ha nincs kép */
.block-noimg .lead-text { padding-left: 0; width: 600px; }
.block-noimg .lead-text h3 { font-size: 26px; line-height: 28px; }


.block-eletmod { float: left; width: 600px; padding-top: 8px; margin-bottom: 18px; }
	.eletmod-tags { display: inline; float: right; padding: 3px 0; text-align: right; }
	.eletmod-tags a { font-weight: bold; margin-right: 18px; white-space: nowrap; color: #000; }

	#home-first .form h4.eletmod-title { width: 106px; height: 25px; background: url('../images/default/img7.gif') -238px 0 no-repeat; text-indent: -8000px; padding: 0; margin: 0 0 0 18px; font-size: 12px; }

	.eletmod-content { float: left; width: 600px; background: url('../images/default/eletmod_bg.png') repeat-x 0 0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
	.eletmod-content table { border-spacing: 6px;}
	.eletmod-content td { width: 180px; padding: 6px 6px 8px 6px; background-color: #fff; vertical-align: top; }
	.eletmod-content td .block-image { height: 113px; overflow: hidden; }
	.eletmod-content td .block-image img { width: 180px; }
	.eletmod-content td h3 { padding-top: 10px; }
	.eletmod-content td h3 a { font-size: 14px; line-height: 16px; color: #000; }

	.eletmod-link { float: left; width: 600px; margin: 4px 0 8px 0; text-align: center; }
	.eletmod-link a {  font-size: 11px; color: #797049; margin: 0 3px; }







#home-first .right { }


/* legfrissebb, napi top, heti top */
.tabbed-box { border-bottom: 1px solid #e8edef; margin: 0 0 10px; padding: 0 0 10px 0;}
.tabbed-box ul { list-style: none; }

.tabbed-box > ul li { display: inline; }
.tabbed-box > ul li a { display: block; float: left; outline: none; height: 24px; width: 110px; background: url('../images/default/tabbed2.png') no-repeat 0 0; text-align: center; overflow: hidden; padding-top: 9px;
font-weight: bold; color: #686d6f; }
.tabbed-box > div { clear: both; padding-top: 12px; }

.tabbed-box ul li.tfirst a { background-position: 0 -33px; }
.tabbed-box ul li.tsecond a { background-position: -110px -33px; }
.tabbed-box ul li.tthird a { background-position: -220px -33px; }

.tabbed-box ul li.tfirst a.selected, .tabbed-box ul li.tfirst a:hover { background-position: 0 0; color: #000; }
.tabbed-box ul li.tsecond a.selected, .tabbed-box ul li.tsecond a:hover { background-position: -110px 0; color: #000; }
.tabbed-box ul li.tthird a.selected, .tabbed-box ul li.tthird a:hover { background-position: -220px 0; color: #000; }
#tbdsecond, #tbdthird { display: none; }

.item-box > div ul li { list-style-type: none; list-style-position: inside; font-size: 11px; color: #a8adaf; padding-bottom: 4px; }
.item-box > div ul li a { font-size: 12px; margin-left: 2px; }


/* beküldések */
.user-box { margin: 6px 0 18px 0; background-color: #f6f6f6; padding: 6px 8px 8px 8px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.user-box h4 { padding-left: 2px; margin-bottom: 0; color: #000; font-size: 16px; }
.user-box h4 span { float: right; margin: 3px 5px 0 0; font-size: 11px; font-weight: normal; }

.user-box > div { clear: both;  }

.user-box div .item { clear: both; padding: 4px 0;}
.user-box img { float: left; margin: 4px 8px 0 2px; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.user-box div .item > div { float: left; width: 278px; }
.user-box .name { font-size: 11px; color: #999; }
.user-box .title { font-weight: bold; font-size: 14px; line-height: 17px; }


/* helyi hírek */
.local-box { margin: 0 0 18px 0; }
.local-box h4 span { float: right; margin: 5px 5px 0 0; font-size: 11px; font-weight: normal; color: #999; }
#top-loading, #local-loading, #suggest-loading, #add-loading { display: none; margin: 8px 0; height: 20px; background: url('../images/default/loading2.gif') no-repeat 50% 50%; }

.local-box #local-change { float: right; margin-top: 7px; width: 140px; }
.local-box ul {  }
.local-box ul li { list-style-position: inside; font-weight: bold; padding-bottom: 5px; }
.local-box ul li.error { list-style-type: none; list-style-position: inside; padding: 12px; font-size: 11px; font-weight: normal; border: 1px dashed #bbb; }
.local-box ul li.more { color: #999; padding-top: 4px; font-size: 11px; font-weight: normal; }
.local-box ul li a { font-size: 12px; color: #787d7f; }
.local-box ul li.error a, .local-box ul li.more a { font-weight: bold; color: #124a95; }


/* partner hírek */
.listing-box { margin: 6px 0 18px 0; background-color: #f6f6f6; padding: 2px 8px 10px 8px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

.listing-box h5 { position: relative; height: 9px; border-bottom: 1px solid #ddd; margin: 0 0 16px 0; }
.listing-box h5 span { position: absolute; background-color: #f6f6f6; padding: 0 10px 0 2px; font-size: 12px; }
.listing-box div { padding-top: 8px; }

.blocks-left .listing-box { margin-right: 14px; }


/* szavazás doboz */
.vote-box { margin-top: 18px; padding-bottom: 8px; border: 1px solid #e8edef; padding: 4px 8px 12px 8px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.vote-box h4 { padding-left: 2px; font-size: 16px; }
.vote-box h4 a { color: #000; }
.vote-box-form label { width: 314px; display: block; padding-bottom: 8px; }
.vote-box-form .button { margin: 6px 12px 0 0; }

.vote-box .vote-box-results div { padding-bottom: 8px; }
.vote-box .vote-box-results div img { margin-top: 2px; }





/* videó néző */
#embed-box { border-top: 1px solid #e8edef; float: left; width: 960px; padding: 16px 0; margin: 0; /* border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; */}
#embed-box .form { padding-bottom: 16px; padding-top: 8px; border-right: none; background-color: #000; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

	#embed-wrapper { width: 596px; overflow: hidden; text-align: center; padding: 0 8px 0 8px; }
	#embed-wrapper * { text-align: center; margin: 0 auto; }

	#embed-wrapper embed, #embed-wrapper iframe, #embed-wrapper object { width: 596px; margin: 0 auto; text-align: center; }

	#embed-title { font: bold 18px Arial, Helvetica; line-height: 21px; padding: 16px 0 0 16px; margin: 0; color: #fff; }
	#embed-title a, #embed-description a { color: #fff; background: none; }
    #embed-description { clear: both; padding: 0; color: #aaa; padding: 4px 0 0 16px; }
    #embed-description a { font-weight: bold; }


	#video-scroll { margin: 0; height: 300px; overflow-y: scroll; overflow-x: hidden; border-top: 5px solid #eee; border-bottom: 5px solid #eee; -moz-border-radius: 5px; }

	.video { float: left; width: 310px; padding: 8px 0; margin: 0; }
	.video:first-child {  }


	.video span { display: block; width: 64px; height: 49px; margin-right: 12px; float: left; text-indent: -8000px; cursor: pointer; background: url('../images/default/play.png') repeat-x 0 0; }
	.video-hover span, .video-nowplaying span { background-position: 0 -49px; }

	.video h4 { font-size: 14px; padding: 2px 0 0 0; margin: 0; font-weight: bold; }
	.video h4 a { }

	.video p { padding: 4px 0 0 0;  }
	.video p a { color: #ccc; background: none; }





						/*
						.tweet-box { clear: both;  margin: 0 0 20px 0; }
						.tweet-box h4 { display: block; width: 330px; height: 48px; padding: 0; margin-bottom: 3px; overflow: hidden; background: #210a2f url('../images/default/tweet_box_header.gif') no-repeat 0 0; }
						.tweet-box h4 a.link { background: none; display: block; width: 190px; height: 24px; position: relative; top: 4px; left: 32px; }
						.tweet-box h4 a.tag { color: #fff; background: none; font-size: 11px; position: relative; top: 4px; left: 146px; }

						#YL_tweet_wrapper { border: 1px solid #d8dddf; background: #f8f9fa; height: 200px; overflow-y: scroll; overflow-x: hidden; padding: 4px 8px; }

						.tweet-box .tweet { padding: 8px 0 8px 0; float: left; border-bottom: 1px dashed #e8edef; width: 296px; overflow: hidden; }
						.tweet-box .tweet:first-child { padding-top: 2px; }
						.tweet-box .tweet img { float: left; margin-right: 10px; }
						.tweet-box .tweet div { float: left; width: 254px; color: #999; font: normal 11px Arial, Helvetica; }
						.tweet-box .tweet div a { color: #333; }
						.tweet-box .tweet div .name { font-weight: bold; }
						.tweet-box .tweet div .date { color: #bbb; font-style: italic; font-size: 10px; }
						*/










/* általános formok */

.form h1 { padding: 8px 12px; margin: 0; font: bold 34px Arial, Helvetica; letter-spacing: -0.4px; line-height: 34px; color: #000; }
.form h1 a { color: #000; text-decoration: none; }

.form .error { padding: 14px 0 12px 40px; margin: 8px 12px; font-weight: bold; border-top: 1px solid #eeeebb; border-bottom: 1px solid #eeeebb; background: #ffffcc url('../images/default/error.gif') 12px 50% no-repeat; }
.form .lead { clear: both; padding: 0 12px 0 12px; }
.form .note { clear: both; font-size: 11px; line-height: 14px; padding: 0 0 16px 0; margin: 0 12px; color: #aaa; }

.form label { float: left; width: 180px; text-align: right; font-size: 14px; height: 16px; margin-bottom: 8px; padding: 5px 10px 0 0px; color: #000; }
/*.form span { width: 290px; height: 16px; padding-top: 5px; color: #000; }*/

.form input.text, textarea, .form select { width: 290px; height: 16px; font: normal 14px Arial, Tahoma, Helvetica, sans-serif; padding: 4px; margin-bottom: 8px; color: #000; }
.form textarea { height: 80px; }
.form select { width: 300px; height: 24px; }
.form option { }
.form input.radio { vertical-align: middle; background: none; border: none; height: 16px; margin: 2px; padding-left: 2px; }

.form .radio-wrapper { float: left; margin-bottom: 12px; padding-left: 190px; }
.form .radio-wrapper label { padding: 4px 0; margin-right: 10px; color: #000; vertical-align: middle; }
.form .radio-wrapper input { vertical-align: middle; background: none; border: none; margin-right: 4px; padding: 0; }

.form .checkbox-wrapper { margin-bottom: 12px; padding-left: 190px; }
.form .checkbox-wrapper label { text-align: left; display: block; padding: 4px 0; width: 89%; margin-right: 10px; color: #000; vertical-align: middle; }
.form .checkbox-wrapper input { vertical-align: middle; background: none; border: none; margin: 0 8px 0 0; padding: 0; }

.form .button-wrapper { clear: both; padding-left: 178px; padding-top: 8px; text-align: left; margin: 0 12px; border-top: 1px solid #e8edef; }
.form .button-wrapper input { margin: 0; vertical-align: middle; }
.form .button-wrapper .primary { }
.form .button-wrapper a { margin-left: 10px; font-size: 12px; vertical-align: middle; }






.form .content-list { float: left; padding: 12px; }
.form .content-list .item { clear: both; padding: 12px 0; border-top: 1px solid #f8f9fa; }
.form .content-list .item:first-child { border-top: none; }

.form .content-list .item h3 { padding: 0; margin: 0; font: bold 18px Arial; line-height: 20px;  }
.form .content-list .item h3 a {  }
.form-commented .content-list .item h3 a:visited { color: #4d77b0; }

.form .content-list .item p { padding: 0; margin: 8px 0 0 0; }

/*.form .content-list .item .info { margin-top: 6px; font: normal 11px Arial, Georgia, Times; color: #999; }
.form .content-list .item .info a { color: #999; margin-right: 8px; }
.form .content-list .item .info a:hover { color: #333; }
.form .content-list .item .info img { vertical-align: middle; height: 16px; margin-right: 2px; }*/


.form .pager { clear: both; text-align: center; word-spacing: 2px; color: #d8dddf; font-size: 14px; font-weight: bold; }
.form .pager b { color: #000; }


/* kereső */

.form-search form { padding: 12px 12px 0 12px; }
.form-search form span { float: right; font-size: 11px; text-align: right; color: #666; padding: 0; width: 150px; }
.form-search form div { float: left; width: 400px; padding-bottom: 12px; }
.form-search label { padding: 2px; font-size: 12px; margin: 0; text-align: left; color: #666; }
.form-search label input { vertical-align: middle; margin: 0 6px 0 0; }
.form-search form .button { padding: 2px 4px; }

.form-search .trend-chart { clear: both; width: 576px; padding: 12px; }
.form-search .trend-chart img { border: 1px solid #d8dddf; }


.form-search ul { padding-top: 22px; }
.form-search ul li { list-style-position: inside; padding: 3px 0 3px 12px; }

#search-box { clear: both; margin: 0; }
#search-box h4 { padding-bottom: 0 }

#search-box .tweet { padding: 8px 0 8px 0; float: left; border-bottom: 1px dashed #e8edef; width: 330px; overflow: hidden; }
#search-box .tweet:first-child { padding-top: 0; }
#search-box .tweet img { float: left; margin-right: 10px; }
#search-box .tweet div { float: left; width: 288px; color: #999; font: normal 11px Arial, Helvetica; }
#search-box .tweet div a { color: #333; }
#search-box .tweet div .name { font-weight: bold; }
#search-box .tweet div .date { color: #bbb; font-style: italic; font-size: 10px; }

.form-trends .trend-item { padding: 18px 0 0 0; }
.form-trends h4 { clear: both; font-size: 14px; padding: 6px 12px; width: 576px; border-bottom: 1px solid #e8edef; color: #000; }
.form-trends h4 .more { float: right; font-size: 12px; }







/* tartalom oldala */

.form-content { }
.form-content h1 { padding-bottom: 4px; }
.breadcrumb { padding: 4px 12px; color: #aaa; font-size: 11px; }
.breadcrumb span { padding: 0 4px; color: #aaa; }
.breadcrumb a { font-weight: bold; }
.breadcrumb a.active { color: #999; font-weight: normal; }


.form-content .info { padding-left: 12px; }

.form-content .usercontent { background-color: #e8edef; padding: 4px; font-size: 11px; color: #666; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.form-content .usercontent a { font-weight: bold; }
.form-content .usercontent img { vertical-align: middle; border: 1px solid #fff; }

.form-content div.text { margin-bottom: 12px; clear: both; padding: 16px 12px 0 12px; font-size: 14px; line-height: 20px; }
.form-content div.text p { font-size: 14px; line-height: 20px; }

.form-content h4 { clear: both; font-size: 14px; padding: 6px 12px; border-bottom: 1px solid #e8edef; color: #000; }
.form-content h4.related-title span { float: right; font-size: 12px; }
.form-content .related { clear: both; padding: 8px 0 16px 12px; margin: 0; }
.form-content .related li { list-style-type: none; list-style-position: inside; font-size: 14px; color: #999; padding: 1px 0 2px 0; line-height: 17px; font-weight: bold; }
.form-content .related li .info { padding-left: 1px; }
.form-content .related li .desc { padding: 2px 0 12px 0; }

.form-content .tweet-block { margin-bottom: 18px; margin-top: 0; }



h4#suggest { padding: 0 6px 8px 0; line-height: 24px; border-bottom: none; }
h4#suggest iframe, .fb_share_size_Small { float: right; }
h4#suggest iframe { vertical-align: middle; margin-top: 1px; }
.suggest-wrapper { float: left; width: 576px; padding: 10px 12px; margin: 4px 0 16px 0; background-color: #f6f6f6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.suggest-wrapper div { float: left; font-size: 11px; color: #999; }
.suggest-wrapper div input.text { margin: 2px 0; }
.suggest-wrapper .name { width: 212px; }
.suggest-wrapper .name input.text { width: 192px; }
.suggest-wrapper .to { width: 364px; }
.suggest-wrapper .to input.text { width: 260px; }



.form-content h4#comments { clear: both;   margin-bottom: 18px;
background-color: #f6f6f6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
border-bottom: none; }
.form-content h4#comments a { float: right; font-size: 12px; }
.comment-pager { margin: 0 0 22px 0; padding: 8px 12px; border-top: 1px solid #eeeebb; border-bottom: 1px solid #eeeebb; background-color: #ffffcc; }

.comment-item { clear: both; padding: 4px 0 16px 12px; margin: 12px 4px 12px 0; border-bottom: 1px solid #f6f6f6; }

.comment-item .comment-left { float: left; width: 40px; margin-right: 12px; padding: 2px; }
/*.comment-item .comment-left img { border: 2px solid #fff; }*/

.comment-item .comment-right { float: left; width: 444px; font-size: 12px; line-height: 17px; }
.comment-item .comment-right .info { padding: 0 0 6px 0; margin: 0; }
.comment-item .comment-right .info .name { font-weight: bold; font-size: 12px; color: #000; float: left; }

.comment-item .comment-thumbs { float: right; width: 48px; text-align: center; font-size: 10px; color: #999; }
.comment-item .comment-thumbs a { float: right; display: block; width: 16px; height: 16px; margin: 0 4px 6px 4px; background: url('../images/default/thumbs.png') 0 0 no-repeat;  }
.comment-item .comment-thumbs a.up { background-position: 0 -16px; }
.comment-item .comment-thumbs a.up:hover { background-position: 0 0; }
.comment-item .comment-thumbs a.down { background-position: -16px -16px; }
.comment-item .comment-thumbs a.down:hover { background-position: -16px 0; }






.connect-area { background-color: #f6f6f6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin: 6px 0 18px 0; padding: 16px 12px; text-align: center; }
.connect-area a { font-weight: bold; text-decoration: underline; }
.connect-area span { font-size: 11px; color: #999; }
.connect-area img { vertical-align: middle; }
.form-content div.nocomments { margin-top: 0; padding-top: 0; }

#comment-form { background-color: #f6f6f6; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 0; }
#comment-form fieldset { border: none; padding: 12px 0; margin: 6px 12px 18px 12px; }
#comment-form fieldset textarea { width: 568px; height: 140px; }

#comment-form fieldset #submit { float: right; margin: 0; }
#comment-form fieldset div { float: right; width: 200px; text-align: right; padding: 4px 12px 0 0; color: #999; }




.blocks-box h4 a { color: #000; }
.blocks-box .block-item { float: left; width: 330px; padding-bottom: 22px; }
.blocks-box .block-item .block-image { float: left; width: 100px; }
.blocks-box .block-item .block-image img { width: 100px; }

.blocks-box .block-item .lead-text { float: left; width: 218px; padding-left: 12px; }
.blocks-box .block-item h3 { font: bold 16px Arial, Helvetica; }


/* nagykép */
.form-bigpicture { width: 782px; border-right: none; }
.form-bigpicture h1, .form-bigpicture .text { width: 782px; }

.bigpicture-item { float:left; width: 770px; overflow:hidden; background-color:#000; margin: 0 0 18px 12px; }
.bigpicture-item .taken { width: 546px; float:left; padding:12px 0 24px 12px; color:#fff; overflow:hidden; color:#fff; }
.bigpicture-item .author { width: 200px; float:left; text-align:right; padding:12px 12px 24px 0; color:#787d7f; overflow:hidden; font-size:11px; }


/* saját szerzős írás */
.post-avatar { width: 90px; overflow: hidden; float: left; padding: 6px 12px 24px 12px; margin-top: 16px; border-right: 1px solid #e8edef; }
.post-avatar div { padding-top: 8px; font-size: 11px; color: #aaa; line-height: 14px; }
.post-avatar div a { font-size: 12px; font-weight: bold; color: #000; }

.post-text { float: left; width: 486px; margin-top: 16px; }
.post-text p { padding: 6px 12px; font-size: 14px; line-height: 20px; }
.post-text a { font-weight: bold; }

/* külső videó */
.embed-item { margin-top: 18px; text-align: center; /*background-color: #000; padding: 4px 0;*/ }
.embed-item * { margin: 0 auto; text-align: center; }

/* szavazás */
.vote-item h4 { display: none; }
.vote-item .vote-box { padding-top: 12px; }
.vote-item { padding: 0 12px 18px 12px; }
.vote-item label { width: 540px; clear: both; text-align: left; }


/* statikus oldal */
.form-pages .content-wrapper { clear: both; padding: 12px; font-size: 14px; line-height: 20px; }
.form-pages .content-wrapper p, .pages .content-wrapper td { font-size: 14px; line-height: 20px; }



/* rovat oldal */
.form-category {}

.form-category h1, .form-profile h1,  .form-messages h1, .form-video h1, .form-jegyzet h1 {  font-size: 26px; margin-bottom: 0px; }
.form-category h1 span, .form-profile h1 span, .form-messages h1 span { float: right; text-align: right; font-size: 12px; color: #a8adaf; letter-spacing: 0px; }
.form-category h1 span b, .form-profile h1 span b, .form-messages h1 span b { padding: 0 3px; }
.form-category h1 span a, .form-profile h1 span a, .form-messages h1 span a { color: #124a95; text-decoration: underline; }
.form-category h1 span a.active, .form-profile h1 span a.active, .form-messages h1 span a.active { color: #000; text-decoration: none; }





.form-category .content-list { padding-top: 0; }


.tags-box div {   }
.tags-box div a { font-weight: bold; margin: 0 8px 0 0; }





.form-users { }
.form-users fieldset { border: none; padding: 0; margin: 24px 0 12px 0; }



.form-profile .avatar { float: left; width: 88px; margin: 16px 16px 12px 12px; }
.form-profile .avatar a { background: none; }




.form-profile h4 { clear: both; font-size: 14px; padding: 6px 12px; width: 576px; border-bottom: 1px solid #e8edef; color: #000; }

.board-form-wrapper { padding: 18px 0 0 0; }

.board-form-wrapper h4 span { float: right; color: #d8dddf; }
.board-form-wrapper h4 span a { font-size: 12px; }
.board-form-wrapper h4 span a.active { color: #666; text-decoration: none; font-weight: normal; }


.board-form-wrapper #board-form fieldset { border: none; padding: 0; margin: 6px 12px 0 12px; }
.board-form-wrapper #board-form fieldset textarea { width: 568px; height: 50px; }

.board-form-wrapper #board-form fieldset #submit { float: right; margin: 0; }
.board-form-wrapper #board-form fieldset div { float: right; width: 200px; text-align: right; padding: 4px 12px 0 0; color: #999; }

.feed-list { padding: 12px 0; clear: both; }
.feed-list .trash { cursor: pointer; }

/*.feed-list .item { clear: both; padding: 12px 0; border-top: 1px solid #f8f9fa; }
.feed-list .item:first-child { border-top: none; }

.feed-list .item span { background-color: #d8dddf; color: #666; font-size: 10px; padding: 1px 3px; }

.feed-list .item .trash { cursor: pointer; vertical-align: middle; }

.feed-list .item .type-board { line-height: 17px; }
.feed-list .item .type-board .av { float: left; margin: 2px 10px 8px 0; }
.feed-list .item .type-board .name { font-weight: bold; color: #000; }
.feed-list .item .type-link a { font-size: 14px; font-weight: bold; }*/

.friends-box {}
.profile-box { padding: 16px 0; }
.profile-box div { border-bottom: 1px solid #e8edef; padding: 8px 0; }
.profile-box .first { border-top: 1px solid #e8edef; }



.form-messages {}
.form-messages table { margin: 12px; width: 588px; }
.form-messages table tr { padding: 0; margin: 0; }
.form-messages table tr:first-child td { border-top: 1px solid #e8edef; }
.form-messages table tr td { border-bottom: 1px solid #e8edef; padding: 4px 0; }
.form-messages table tr td:first-child { font-size: 11px; }
.form-messages table tr td:first-child a { color: #666; }

.form-messages table tr td * { vertical-align: middle; }
.form-messages table tr td img { margin-right: 4px; }
.form-messages form .button { float: right; margin: 0 0 12px 0; }
.form-messages form fieldset { border: none; padding: 0; margin: 24px 0 12px 0; }



.form-add fieldset { border: none; padding: 0; margin: 24px 0 12px 0; }

.form-add input.text { width: 400px; }
.form-add textarea { width: 400px; height: 120px; }
.form-add select { width: 410px; }
.form-add #duplicated-wrapper { padding: 12px; font-size: 11px; border: 1px dashed #bbb; }

.add-box { padding-bottom: 18px; }
.add-box .alert { padding: 12px; font-size: 11px; border: 1px dashed #bbb; }


/* videó rovat */
.form-video .list-video { display: none; background-color: #111; padding: 16px 0; margin: 16px 0 0 0; text-align: center; }
.form-video .list-video * { text-align: center; margin: 0 auto; }

/* jegyzet rovat */
.form-jegyzet { }
.form-jegyzet .avatar { float: left; margin: 0 16px 4px 0; }


/* eddig */



/* beküldés oldal */

/*.form-add textarea { width: 400px; height: 120px; }
.form-add input.text { width: 400px; }
.form-add select { width: 410px; }*/

input.loading { width: 16px; height: 16px; background: #fff url('../images/default/loading.gif') right 50% no-repeat; }









/* regisztráció után levelezőszolgáltatás */
.mailservice { display: block; text-align: center; vertical-align: middle; }
.mailservice a.jump { font: bold 12px Arial; }
.mailservice a.logo { background-image: none; }
.mailservice img { vertical-align: middle; border: 5px solid #fff; }

/* tovább a belépéshez */
.gotologin { display: block; text-align: center; vertical-align: middle; }












/*.add textarea, .profile textarea { width: 400px; height: 120px; }*/





														/* alsó linkgyűjtemény */
														/*
														#tabbed-links { clear: both; margin-top: 12px; padding-top: 8px; }
														#tabbed-links h4 { font-size: 12px; color: #a2a4a6; font-weight: normal; border-bottom-width: 3px; }
														#tabbed-links h4 a { padding: 2px 4px; margin: 2px; font-weight: bold; outline: none; }
														#tabbed-links .active-tab { color: #000; background: none; }
														#tabbed-links .panel { display: none; }
														#tabbed-links .active-tab-body { display: block; }

														#tabbed-links ul { float: left; width: 140px; border-right: 1px solid #e8edef; padding: 0 0 0 12px; list-style-type: none; margin: 12px 0 0 0; }
														#tabbed-links ul.last { border-right: none; }
														#tabbed-links ul li { padding: 1px 0 0 0; margin: 0;}
														#tabbed-links ul li.heading { font-weight: bold; padding-bottom: 8px; font-size: 16px; }
														*/


/*h4.list-pager i { float: right; word-spacing: 2px; font-style: normal; font-weight: normal; font-size: 11px; color: #D2D6D6; background: none; }
*/














