.ac_results {
padding: 0px;
border: 1px solid #686d6f;
background-color: #fff;
overflow: hidden;
z-index: 99999;
}
.ac_results ul {
width: 100%;
list-style-position: outside;
list-style: none;
padding: 0;
margin: 0;
}
.ac_results li {
margin: 0px;
padding: 4px;
cursor: default;
display: block;
/*
if width will be 100% horizontal scrollbar will apear
when scroll mode will be used
*/
/*width: 100%;*/
font: menu;
font-size: 12px;
/*
it is very important, if line-height not setted or setted
in relative units scroll will be broken in firefox
*/
line-height: 16px;
overflow: hidden;
font: normal 12px Arial, Helvetica;
}
.ac_loading {
/*	background: white url('indicator.gif') right center no-repeat;*/
}
.ac_odd {
/*	background-color: #f8f9fa;*/
}
.ac_over {
background-color: #ffffcc;
/*	color: #fff;*/
}


/* overlay dialógus ablakok háttere */

#overlay-mask {
  position: fixed; z-index: 16777270; width: 100%; height: 100%; opacity:0.9; filter:alpha(opacity=90); _position: absolute; top: 0; left: 0;
  background-color: #aaa; background-position: center center; background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#aaa)); background: -webkit-radial-gradient(circle, #ffffff, #aaa); background: -moz-radial-gradient(circle, #ffffff, #aaa); background: -ms-radial-gradient(circle, #ffffff, #aaa);
}

#overlay-box { position: fixed; z-index: 16777271; }

/* overlay értesítés csík */

#overlay-box.notification { text-align: center; top: 3px; width: 100%; height: 0; overflow: visible; }
#overlay-box.notification .content { cursor: pointer; display: inline-block; padding: 0 25px; height: 26px;
	line-height: 27px; color: #111;  background: #fff9cb;  overflow: hidden;
	font-size: 12px;  font-weight: 600; }
#overlay-box.notification a { text-decoration: underline; font-weight: 600; }

/* overlay dialógus ablak */

#overlay-box.dialog { background: transparent; _position: absolute; background: #fff; -webkit-box-shadow: 1px 1px 2px #aaa; -moz-box-shadow: 1px 1px 2px #aaa; box-shadow: 1px 1px 2px #aaa; }
#overlay-box.dialog .content { padding: 25px 20px; text-align: center; }
#overlay-box.dialog .buttons { padding: 10px 20px; background-color: #f6f6f6; border-top: 1px solid #eee; text-align: center; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }
#overlay-box.dialog .buttons .secondary { margin-left: 6px; background: #ddd; }


/* overlay általános ablak */
#overlay-box.popup { background: transparent; _position: absolute; background: #fff; -webkit-box-shadow: 1px 1px 2px #aaa; -moz-box-shadow: 1px 1px 2px #aaa; box-shadow: 1px 1px 2px #aaa; }
#overlay-box.popup .content { padding: 8px; }
#overlay-box.popup .close { background:url(../images/default/close.png) no-repeat transparent; cursor: pointer; display: inline; height: 30px; position: absolute; right: -15px; top: -10px; width: 30px; z-index: 16777271; }




/* gombok */

.primary, .secondary, button {
	display: inline-block;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	background-color: #0066cc; border: none;
	font: bold 12px sans-serif; text-decoration: none; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); color: #fff;
	padding: 6px 14px;
	-webkit-appearance: button;
	cursor: pointer;
	z-index: 1394949;
}
.primary:hover, button:hover {
	background: #111;
	color: #fff;
	text-decoration: none
}
.primary::-moz-focus-inner {
    border:0;
    padding:0;
}
.primary:active, button:active {
	background: #666;
}
.secondary {
	background: #ddd; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2); color: #999;
}
.secondary:hover {
	color: #999;
}


td, body, p, div {
	font: 400 14px "Open Sans", Arial, sans-serif;
	line-height: 140%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #111;
	margin: 0;
	padding: 0;
}
b {
	font-weight: 600;
}
body {
	margin-bottom: 0;
	background: #fff;
}
html { overflow-y: scroll; }
img { border: 0; }
form, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; }
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

h1, h2, h3, h4, h5 { font-weight: 900; font-family: 'Roboto', sans-serif; }

input, select, textarea { font: 400 14px "Open Sans", Arial, sans-serif;
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0; }


a { color: #064599; /*064599, regi: 244788 */ border: none; text-decoration: none; /*background: url('../images/default/href.gif') repeat-x left bottom; */cursor: pointer; }
a:hover { text-decoration: underline; }

/*
.clear { clear: both; line-height: 0px; height: 0px; padding: 0; margin: 0; overflow: hidden; }*/

.clear:before, .clear:after { content: ''; display: table; }
.clear:after { clear: both; }

.wait { cursor: wait; }

a,
.primary,
.secondary,
button,
.highlight-box ul li a:hover span,
.block h2 a:hover span,
.related a:hover span,
li:hover {
-o-transition:color .2s ease-out, background .2s ease-in;
-ms-transition:color .2s ease-out, background .2s ease-in;
-moz-transition:color .2s ease-out, background .2s ease-in;
-webkit-transition:color .2s ease-out, background .2s ease-in;
transition:color .2s ease-out, background .2s ease-in;
}



/* hirdetések */

	.banner { display: none; clear:both; background: #fff; }
	.banner:before, .banner:after { content: ''; display: table; }
	.banner:after { clear: both; }


	.banner > div { display: block; clear:both; text-align: center; line-height: 0; }

	.banner #bev-utan { margin-top: 15px; }

	.banner #cikk-utan { margin: 15px 15px 0 10px; }


	.banner #cikkoldal-c { margin-top: 10px; }

	.banner #jobb-egy { margin: 15px 0 0 0; }

	.banner #jobb-ketto { margin: 15px 0 0 0; }

	.banner #lapos { width: 500px; height: 200px; }









/* fejléc */

#header { width: 962px; margin: 10px auto 0 auto; position: relative;  }

	/* logó, időjárás, felhasználói menü, keresés */
	#top { width: 962px; padding: 16px 0 0 0; }


	#logo { float: left; width: 162px; height: 40px; margin: 8px 0 10px 12px; position: relative; background: url('../images/default/logo.png') 0 0 no-repeat; text-indent: -8000px; overflow: hidden; }

	@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
		#logo {
			background-image: url(../images/default/logo@2x.png);
			background-size: 162px 40px;
		}
	}


	#top > ul { float: right; padding: 6px 18px 0 0; text-align: right; font-weight: 600; }
	#top > ul > li { list-style: none; display: inline; float: left; padding: 0 8px; margin: 0; }
	#top > ul > li:first-child { border: none;  }

   .weather { float: left; padding: 6px 0 0 28px;  overflow: hidden; }
	.weather a { color: #999; margin-right: 14px; text-decoration: none; }
	.weather a:hover { color: #333; }
	.weather img { vertical-align: middle; }

	/*.rss { background: url('../images/default/feed.gif') 0 50% no-repeat; padding-left: 17px; text-transform: uppercase;}*/




	/*
	#activity ul li.all {  padding: 0; border: none;}
	#activity ul li.all a {  display: block; padding: 6px 8px 4px 8px; font-size: 11px; color: #333; font-weight: normal; background: #fff9cb; border-top: 1px solid #fff2ad; text-align:center;  }
	#activity ul li.all a:hover{  color: #666;   }
	*/

	/* keresés */
	#search-form { float: right; padding: 3px 0 0 0; margin: 0;  }
	#search-form div { display: inline; }
	#search-form input.text { float: left; width: 149px; outline: none; margin: 0 2px 0 0; height: 26px; }
	#search-form input { vertical-align: top; }
	.form-search input.primary, #search-form input.primary { vertical-align: top;  margin: 0; background-color: #fdaa29;}
	.form-search input.primary:hover, #search-form input.primary:hover {
	background: #111;
	color: #fff;
	text-decoration: none
}


	/* menü sor */
	.menu { float: left; width: 962px; background: #111;
	/*-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;*/
	 /*-moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; border-radius: 2px 2px 0 0; */
	}

	.menufloat {
		position: fixed; top: 0;  z-index: 16777269;



		 }




/* rovat lista */
.menu > ul { margin: 0 auto; width: 960px; padding: 0 5px; }
.menu > ul > li { float: left; display: block; list-style: none; font-size: 12px; border-left: 1px solid #333;}

/* rovatnév */
.menu > ul > li > a {  display: block; color: #fff; padding: 7px 7px 7px 7px; font-weight: 800; text-transform: uppercase;}

.menu > ul > li > a:hover { color: #fdaa29; text-decoration: none;}


.menu > ul > li.active a { color: #fdaa29;}
.menu > ul > li.add { float: right; }


	.menu li:first-child, .menu li:nth-child(2) {  border: none; }

			/* aktivitás buborék */
			#activity {  color: #fff; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); cursor: pointer; opacity:1; border-top: 0;
			background: #fdaa29; padding: 1px 4px; margin: 6px 3px;
			animation-name: blinker;
			animation-duration: 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			-webkit-animation-name: blinker;
			-webkit-animation-duration: 1s;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;

			}

			@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
			0% { opacity: 1.0; }
			50% { opacity: 0.6; }
			100% { opacity: 1.0; }
			}

			@-webkit-keyframes blinker {
			0% { opacity: 1.0; }
			50% { opacity: 0.6; }
			100% { opacity: 1.0; }
			}

			@keyframes blinker {
			0% { opacity: 1.0; }
			50% { opacity: 0.6; }
			100% { opacity: 1.0; }
			}

			/* aktivitás lista */
			#activity-list {
				display: none; position: absolute;  z-index: 16777269; list-style: none; text-align: left;
				margin: 0 0 0 -7px;
				padding: 4px 0 8px 0;
				background: #fff;
				border: 1px solid #ccc;
				border-top: 0;
				overflow-y: auto;
				-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
			}

			#activity-list li { border-bottom: 1px solid #eee;
				text-transform: none; padding: 5px 20px 5px 12px;
				background: #fff; color: #999;
				font-weight: 600;
			}
			#activity-list li:first-child{  font-weight: 800; color: #111;}
			#activity-list li a {  width: auto; text-transform: none; opacity: 1; }









/* oldal keret */

#wrapper { width: 962px; margin: 0 auto; }

#center-wrapper { float: left; width: 962px;  }

.form { width: 647px; min-height: 380px; overflow: visible; float: left; padding: 0 0 0 0;  border-right: 1px solid #eee; }

/* jobb hasáb */

#wrapper > .right {
	width: 300px;  float: right;
}



.highlight-box { padding-top: 15px; }
.highlight-box h4, .right h4, .form-content h4, h1.h4-heading {
	clear:both;
	font-size: 17px; line-height: 120%; font-weight: 900; text-transform: uppercase;
	background: #eee; margin: 5px 0;
}
.form-content h4.form-content-h4 { margin: 0 15px 0 10px;}
h1.h4-heading { margin-right: 15px; margin-bottom: 15px; margin-left: 10px; }

.highlight-box h4 span, .right h4 span, .form-content h4 span, h1.h4-heading span { background: #fff; padding-right: 10px; }

h1.h4-heading span a { color: #111; }
h1.h4-heading span .small { margin-left: 15px; color: #064599; font-size: 13px; line-height: 14px; font-weight: 700;   }

.highlight-box ul {   }
.highlight-box ul li { display: table; color: #999; padding: 4px 0; margin: 0 0 0 0; line-height: 140%; border-bottom: 1px solid #f6f6f6; list-style-position: inside; list-style: none; }
.highlight-box ul li a {   }
.highlight-box ul li span { display: table-cell; padding-right: 10px; }


.highlight-box.partner-box {    }
.highlight-box.partner-box ul {   }
.highlight-box.partner-box h4 img { margin-right: 7px; vertical-align: middle; margin-top: -3px; width: 16px; height: 16px; }
.highlight-box.partner-box ul {  }
.highlight-box.partner-box ul li {   }





/* bubble */
.highlight-box ul li a span,
.block h2 a span,
.related h2 a span,
.content-list h2 a span
 {
	display: inline-block; vertical-align: middle;  /* eee*/ margin: 0 0 0 2px; color: #fdaa29 !important;
	/*line-height: 16px !important; font-size: 11px;  *//* padding: 0 11px;*/
	letter-spacing: 0;
	font-style: normal !important;
	font-size: 17px !important;
	line-height: 120% !important;
	font-weight: 800 !important;
	font-family: "Open Sans", serif;
	padding-left: 2px;
}
.highlight-box ul li a:hover span,
.block h2 a:hover span,
.related h2 a:hover span {
}

.form-home .block h2 a span,
.form-category .block h2 a span,
.related h2 a span {
	display: none;
}



/* ccced1 */

/* fejléc kiemelések */
.topstories {
	width: 100%;  overflow: hidden; padding: 22px 0 20px 0; margin-bottom: 15px; border-bottom: 1px solid #eee; }

.topstories div { width: 316px; overflow: hidden; margin-left: 15px; border-left: 1px solid #eee;
	float: left; padding: 0 0 0 15px; overflow: visible;  display:​ table; }
.topstories div:first-child { width: 300px; margin-left: 0; border-left: 0; padding-left: 0;}

.topstories img { float: left; width: 60px; height: 60px; border-radius: 0px; margin: 0 15px 0 0; } /*margin: 0 10px 0 0;*/
.topstories h2 { font-size: 19px; font-weight: 700; line-height: 115%; height: 60px; vertical-align: middle; display: table-cell; #display:block;   }
.topstories h2 a {  color: #111;   /*padding: 2px 0;  background: #222; box-shadow: 4px 0 0 0 #222, -4px 0 0 0 #222; */}
.topstories h2 a:hover {  }


/* fejléc kiemelések az oldalhasábban */
.topstories-box { padding-bottom: 0; width: 300px; margin-bottom: 0; height: auto; border-bottom: 0;}
.topstories-box > div { clear: both; width: 300px; margin-left: 0; border-left: 0; padding: 10px 0;  }
.topstories-box div:first-child { padding-top: 5px; }
.topstories-box h2 {  height: auto;  }
.topstories-box img {    } /*margin: 0 10px 0 0;*/


.topstories-box .fb-share { float:right; width: 300px; height: 21px; margin-top: 10px; }
.topstories-box p {  padding-top: 2px;  float:right; width: 225px;}

.topstories-content { border-bottom: none; margin-top: 15px; margin-bottom: 0; padding-top: 0; }


/* lábléc */

#footer { width: 962px; font-size: 12px; margin: 30px auto 20px auto; padding: 30px 0 0 0; color: #eee; text-align: right; border-top: 1px solid #eee;  }

	#footer a {  margin: 0 2px; font-weight: 600; }
	#footer div { float:left; text-align:left; color: #999; font-size: 12px;}
	#footer div i { color: #fff; }




/* címlap */

.form-home {  display: table; float: left; padding-bottom: 0;  }

.col.left { display: table-cell; vertical-align: top; width: 316px;  border-right: 1px solid #eee;  }

	.col .block { clear:both; padding: 15px 0 0 0; width: 300px;    }

	.col.left .block.block-1 { padding-top: 1px;     }
	.col.right .block.block-1 { padding-top: 10px;     }

	.col .block img {  margin: 5px auto 7px auto; width: 300px; min-height: 80px; display: block; }



	.col .block h2 { margin: 0; padding: 0; font-size: 16px; line-height: 120%; font-weight: 700; }
	.col .block h2 a { color: #111; }

	.col .block-noimg.block-huge h2,
	.col .block-img h2,
	.col .block-1 h2 { font-size: 22px; line-height: 110%;   font-weight: 900;   }



	.col .block-img {   }
	.col .block-img h2 { }
	.col .block-img h2 a { /*background: #fff; box-shadow: -10px 0 0 #fff,10px 0 0 #fff; */}


	.col .block p {  padding: 2px 0 0 0; line-height: 140%;}

	.col .block-noimg.block-huge p,
	.col .block-img p,
	.col .block-1 p { padding: 5px 0 0 0;   }

	.col .block ul { clear: both;  padding: 5px 0 0 0; margin: 0; list-style-type: none;  }
	.col .block ul li {  padding: 5px 0 0 0;  font-weight: 600; }
	.col .block ul li:first-child { padding-top: 0; }


.col.right { display: table-cell; vertical-align: top; width: 315px;  padding-left: 15px;  }


	/* most beszédtéma dobozok a címlapon és a tartalom oldalakon */
	#commented-message-wrapper { display: none; clear: both; margin: 0 0 8px 12px; padding: 8px 0; text-align: center; background: #fff9cb; cursor: pointer; }
	#commented-message-wrapper a {  font-weight: 500; }


	/* most beszédtéma doboz a címlapon color: #6a8fc2; */
	#commented-box a:visited, #right-float a:visited { color: #6a8fc2; }



	/* most beszédtéma doboz az oldalhasábban */
	.commented-box { float: left; width: 300px; margin-bottom: 6px; padding-top: 12px; }
	.rightfloat { position: fixed; top: 0; background: #fff; z-index: 9000; }




/*
.form h1 {  background: #eee; padding: 5px 15px 5px 10px; margin: 0; font-size: 30px; line-height: 34px; letter-spacing: -1px;  }
 */
.form .error { padding: 5px 0 5px 30px; margin: 15px 0 15px 15px;  background: url('../images/default/error.gif') 0 50% no-repeat; }
.form .error a { font-weight: 600; }


.form .lead { clear: both; padding: 10px 15px 0 10px; }
.form .note { clear: both; padding: 15px 0; margin: 0 15px; color: #999; font-size: 12px; }

.form label { float: left; width: 180px; text-align: right; font-weight: 600; height: 16px; margin-bottom: 8px; padding: 3px 15px 0 0px; color: #111; }

input.text, textarea, .form select { width: 290px; height: 26px; outline: none;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	padding: 4px; }


.form textarea { height: 80px; }
.form select { width: 290px; height: 26px; }
.form option { }
.form input.radio { vertical-align: middle; background: none; border: none; height: 16px; margin: 2px; padding-left: 2px; }

.form .radio-wrapper { float: left; margin-bottom: 12px; padding-left: 190px; }
.form .radio-wrapper label { padding: 5px 0; font-weight: 400; margin-right: 10px;  vertical-align: middle; }
.form .radio-wrapper input { vertical-align: middle; background: none; border: none; margin-right: 4px; padding: 0; }

.form .checkbox-wrapper { margin-bottom: 12px; padding-left: 190px; }
.form .checkbox-wrapper label { text-align: left; font-weight: 400; display: block; padding: 5px 0; width: 89%; margin-right: 10px; vertical-align: middle; }
.form .checkbox-wrapper input { vertical-align: middle; background: none; border: none; margin: 0 8px 0 0; padding: 0; }

.form .button-wrapper { clear: both; padding-left: 178px; padding-top: 15px; text-align: left; margin: 0 3px; }
.form .button-wrapper input { margin: 0; vertical-align: middle; }
.form .button-wrapper a { margin-left: 10px;  vertical-align: middle; }


/* rovat oldal */

.form-category {    }








	/* hírlista */

	.form .content-list { float: left; width: 637px; padding: 0 15px 0 10px; } /* 15 lejöjjön itt meg a cikknél? */
	.form .content-list > div { clear: both;  padding-top: 20px;  }
	.form .content-list > div:first-child { padding-top: 10px;  }

	.form .content-list h2 { color: #999; clear:both; padding: 0; font-size: 19px; font-weight: 700; line-height: 115%;     }
	.form .content-list h2 a {  color: #111;  }

	.form .content-list p { padding: 5px 0 0 0;  }


	.entry-meta { padding: 5px 15px 0 10px; white-space: nowrap; overflow-x: hidden; }
	.entry-meta, .entry-meta a, .entry-meta span { color: #999; font-weight: 400; }
	.entry-meta a:hover { color: #111; }
	.entry-meta .vcard .fn.hide { display: none; }
	.entry-meta .vcard img { margin-right: 5px; }

	.entry-meta > span { padding-right: 15px;}
	.entry-meta .vcard a span { padding-right: 0;}
	.entry-meta img { vertical-align: middle; width: 16px; height: 16px; }

	/* hozzászólásaimnál */
	.entry-footer { padding: 5px 0 0 0; color: #999;}
	.entry-footer a {  font-weight: 600;  }


	.entry-tags { padding: 10px 15px 0 10px; }
	.entry-tags a { color: #064599; font-size: 12px; font-weight: 700; text-transform: uppercase; margin-left: 5px; }
	.entry-tags a:first-child { margin-left: 0; }
	.entry-tags a:hover { color: #111;}

.form .content-list .entry-meta {  padding-left: 0; padding-top: 5px;  }
.form .content-list .entry-tags {  padding-left: 0; padding-top: 5px; }



/* lapozás a hírlisták alattt */

.pagination { margin: 18px 0 12px 0; padding: 12px 0; border: 0; text-align: center; background: #fff; }
.pagination li { display: inline;  padding: 2px 0; list-style: none; font-size: 15px; }
.pagination li:first-child { border-left: none;  }
.pagination li a, .pagination li span { padding: 8px 10px;  background: #ddd; color: #111; }
.pagination li span { color: #111; }
.pagination li a:hover { color: #111;   text-decoration: none; background: #ccc;   }
.pagination .active a { color: #111;   text-decoration: none; background: none;   }






/* cikk oldal */
.form-content { }

	.form-content h1 a { color: #111; }

	h1.entry-title { clear:both; padding: 10px 15px 20px 10px; font-size: 36px;  line-height: 120%; }
	h1.entry-title a { color: #111; }

	.form-content .entry-meta iframe {
		border:none; overflow:hidden; width:130px; height:21px; margin-left: 15px;vertical-align:top;
	}

	.form-content div.text { margin-bottom: 15px; clear: both; padding: 15px 15px 0 10px;  }

	.form-content div.text, .form-content div.text p {
		font-size: 16px; line-height: 150%; font-weight: 300;
	}


	.form-content div.text a { font-weight: 600;  }

	.form-content div.text b, .form-content div.text p b, .form-content .text > p:first-child a, .form-content .text > p:first-child {
		font-weight: 700;
	}



	.form-content .text p, .form-content div.text blockquote { margin: 15px 0 0 0; }
	.form-content .text p:first-child { margin-top: 0; }

	.form-content div.text blockquote {
		background: #eee;  padding: 20px 30px;
	}
	.form-content div.text blockquote, .form-content div.text blockquote p {
		font-style: italic; font-weight: normal;
	}


	.form-content .text img { display: block; margin: 0 auto; }

	body.tag-a-szerk .form-content div.text, body.tag-a-szerk .form-content div.text p {
		font-size: 18px; font-family: Georgia, serif; font-style: italic; line-height: 160%;
	}
	body.tag-a-szerk .form-content .text > p:first-child,
	body.tag-a-szerk .form-content .text > p:first-child b,
	body.tag-a-szerk .form-content .text p a {
		font-weight: 300;
	}

	.form-content .text.buttons { clear:both; display: block; padding: 5px 0 0 10px; line-height: 20px;  }
	.form-content .text.buttons > div {
		float: left;
		margin-right: 15px;
	}
	.fb-share {
		display: inline-block;
	}

	.fb-share a {
		display: inline-block;
		outline: none;
		height: 20px;
		padding: 0 6px;


		font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
		font-size: 11px;
		font-weight: bold;
		font-style: normal;
		background: #4c69ba;
		background: -webkit-gradient(linear, center top, center bottom, from(#4c69ba), to(#3b55a0));
		background: -webkit-linear-gradient(#4c69ba, #3b55a0);
		border: none;
		-webkit-border-radius: 2px;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
		height: 20px;
		line-height: 20px;
		vertical-align: top;
		text-shadow: 0 -1px 0 #354c8c;
		white-space: nowrap;
	}

	.fb-share a:hover {
		color: #fff;
		text-decoration: none;
		background:#5b7bd5;
		background:-webkit-gradient(linear, center top, center bottom, from(#5b7bd5), to(#4864b1));
		background:-webkit-linear-gradient(#5b7bd5, #4864b1);
		border-color:#5874c3 #4961a8 #41599f;
		-webkit-box-shadow:inset 0 0 1px #607fd6;
	}

	.form-content .text.buttons .fb-like {
		float:left;
		overflow: visible;
		text-align:left;
		display: inline-block !important;
		width: 120px !important; /* safarinak kell */
		height: 20px !important;

	}

	/* videó embed */
	.embed-item { margin: 15px auto 0 auto; width: 590px; overflow: hidden; text-align: center; position: relative; }
	.embed-item * { margin: 0 auto; text-align: center; }

	.video-wrapper {
		margin: 15px 15px 0 10px;
	}
	.video-container {
	    height: 0;
	    overflow: hidden;
	    padding-bottom: 56.25%;
	    position: relative;

	}
	.video-container iframe,
	.video-container object,
	.video-container embed,
	.video-container video {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}


	/* nagykép */
	.bigpicture-item { float:left; width: 620px; overflow: hidden;  margin: 5px 0 15px 10px; text-align: center; }
	.bigpicture-item img { width: 620px; margin: 0 auto;  }
	.bigpicture-item .taken { width: 620px; float:left; text-align: left;  padding: 0; }
	.bigpicture-item .taken span { float: right; color: #999; padding-left: 15px;font-weight: 600;font-size:11px;  }
	.bigpicture-item a { display: block; background: none; width: 620px;  }

	/* nagykép ajánlatok */

	.bigpic-sug { padding: 10px 0 0 10px;   }
	.bigpic-sug a { display: table-cell; #display:block; width: 207px; overflow: hidden; padding: 0 0 0 10px; }
	.bigpic-sug a:first-child {  padding-left: 0 ;}
	.bigpic-sug .img { display: block; height: 136px; background-position: 50% 50%; background-repeat: no-repeat;
		background-size: cover;  background-color: #aaa; }
	.bigpic-sug .title { display: block; padding: 5px 0 5px 0; font-weight: 600; text-align: center; width: 192px; overflow: hidden; }


	/* kapcsolódó hírek */

	.form-content ul.related { clear: both; padding: 20px 15px 0 10px; margin: 0;  }
	.form-content ul.related li { list-style-position: inside; list-style: none; line-height: 150%; }
	.form-content ul.related li h2 { font-size: 16px; line-height: 150%;  font-weight: 700; font-family: "Open Sans", serif; }

	/* hírkereső */

	.form-content ul.hirkereso { clear: both; padding: 10px 15px 5px 10px; margin: 0; }
	.form-content ul.hirkereso li { list-style-position: inside; list-style: none; line-height: 150%; }
	.form-content ul.hirkereso li h2 { font-size: 16px; line-height: 150%;  font-weight: 700; font-family: "Open Sans", serif; }
	.form-content ul.hirkereso li h2 a { /*color: #970000; */}



	/* hírlevél feliratkozás */

	.subscribebox {
		background: #111;
		padding: 12px 15px 15px 15px;
		margin: 5px 15px 0 10px;
	}
	.subscribe-form {
		padding: 5px 0;
	}
	.subscribe-form p {
		color: #fff;
	}
	.subscribe-form .field-group {
		padding-top: 15px;
	}
	.form .subscribe-form label {
		width: auto;
		float: none;
		padding-right: 2px;
		font-weight: bold; line-height: 26px;
		color: #fff;
	}
	.subscribe-form #mm-name, .subscribe-form #mm-mail {
		vertical-align: top;
		outline: none; margin: 0 5px 0 0; height: 26px;
		width: 185px;
	}
	.subscribe-form .primary {
		vertical-align: top;
		margin: 0;
		background-color: #fdaa29;}
	.subscribe-form .primary:hover {
	background: #fdaa29;
	color: #fff;
	text-decoration: none
}

	/* fb kommentek */

	.fb-comments { margin-left: 10px; margin-top: 15px; overflow: hidden; }
 	.fb-comments-count { display: none;}


	/* kommentek */

	.form-content h4.comments-title, h4#add-comment { margin-top: 15px; }

	.comment-pager { clear: both; margin: 10px 15px 6px 10px; padding: 15px;  background: #fff9cb;  }
	.comment-pager a {   font-weight: 600;  }

	.comment-list { padding: 0 15px 0 10px; }
	.comment-list > div { float: left; width: 621px; overflow: hidden; /*border-bottom: 1px solid #f6f6f6;*/ padding: 0 0 10px 10px; margin: 0 0 15px 0;  }

	.comment-list > div:first-child { margin-top: 15px; }

	.comment-list > div.best { background:#f6f6f6; padding-top:10px; border-bottom:0;}
	.comment-list > div.best:first-child { margin-top:10px; }


	.comment-list .avatar { float:left;}
	.comment-list .comment-right { float:left; width: 556px; overflow: hidden; padding: 0 0 0 15px;  }

	.comment-list .username {  font-weight: 600; }
	.comment-list .comment-text { padding: 5px 10px 5px 0;  }
	.comment-list .comment-foot {  color: #999; font-size: 13px; }
	.comment-list .comment-foot a { color: #999;  margin-left: 15px; }
	.comment-list .comment-foot a:hover { color: #111; }
	.comment-list .comment-foot a:first-child { margin-left: 0; }

	.comment-list .comment-foot b { color: #999; font-weight: 400; background: url('../images/default/heart.png') 4px 50% no-repeat; font-style: normal;  padding: 0 0 0 20px; }



	.comment-list span { display: block; padding-top: 8px; text-align: left; font-weight: 300; }
	.comment-list span a {  color: #999; margin-left: 12px;  }
	.comment-list span a:first-child { margin: 0; }
	.comment-list span a:hover { color: #111; }
	.comment-list span b { font-weight: 300; background: url('../images/default/heart.png') 4px 50% no-repeat; font-style: normal;  padding: 0 0 0 20px; }
	.comment-list i { color: #999; font-weight: 300;  } /* kimoderált szöveg */

	/* új hozzászólás */

	#comment-form { background: #f6f6f6; padding: 15px; margin: 5px 15px 0 10px; }
	#comment-form fieldset { border: none; padding: 0; margin: 0; }
	#comment-form fieldset textarea { outline: none; width: 100%; height: 100px; border: 1px solid #ccc;   }

	#comment-form fieldset #submit { float: right; margin: 0 0 0 15px;  }
	#comment-form fieldset > span { font-size: 11px;  float: right;  line-height: 30px;  }
	#comment-form fieldset > span.moderalas { float: left;  }







/* keresés listaoldal */


.form-search form { clear: both; padding: 10px 15px 0 10px;   }
.form-search form div { float:left; padding-bottom: 30px; }
.form-search label { padding: 0;  width: 300px; margin: 5px 0 0 0; text-align: left; line-height: 26px; cursor: pointer;   }
.form-search input { vertical-align: top; margin: 0 2px 0 0; height: 26px; outline: none; float:left;}
.form-search label input { vertical-align: middle; margin: 0 7px 0 0; }

.form-search .content-list p b { font-weight: 700; background: #fff9cb; }







/* statikus oldal */
.form-pages .content-wrapper { clear: both; padding: 10px 15px 15px 10px;   }
.form-pages .content-wrapper p, .pages .content-wrapper td {   }





.form-users { }
.form-users fieldset { border: none; padding: 0; margin: 24px 0 12px 0; }



/* profil oldal */


#profile-content { width: 420px; float: left;  padding: 4px 0 0 20px;   }








/* üzenetek */

#message-form { background: #f6f6f6; padding: 15px; margin: 5px 15px 15px 10px;}
#message-form fieldset { border: none; padding: 0; margin: 0; }
#message-form fieldset textarea { outline: none; width: 100%; height: 100px; border: 1px solid #ccc;   }
#message-form fieldset input.text { width: 100%;  }

#message-form fieldset #submit { float: right; margin: 0 0 0 15px;  }
#message-form fieldset > span { font-size: 11px; float: right;  line-height: 30px;  }



#message-counter-wrapper, #comment-counter-wrapper { font-size: 11px;  }







.form-add fieldset { border: none; padding: 0; margin: 24px 0 12px 0; }

.form-add input.text { width: 390px; }
.form-add textarea { width: 390px; height: 120px; }
.form-add select { width: 390px; }
.form-add #duplicated-wrapper { padding: 12px; font-size: 11px; border: 1px dashed #bbb; }

.add-box { padding-bottom: 16px; }
.add-box .alert { padding: 15px 0;  text-align: center; background: #fff9cb;  }





input.loading { width: 16px; height: 16px; background: #fff url('../images/default/loading.gif') right 50% no-repeat; }





/* regisztráció után levelezőszolgáltatás */
.mailservice { display: block; text-align: center; vertical-align: middle; }
.mailservice a.jump { font: bold 12px Arial; }
.mailservice a.logo { background-image: none; }
.mailservice img { vertical-align: middle; border: 5px solid #fff; }

/* tovább a belépéshez */
.gotologin { display: block; text-align: center; vertical-align: middle; }



.defaultValue { color: #999 !important;  }



