

/*
@media only screen and (max-width: 760px) {
	* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	#wrapper > div.right { display: none; }

	#header { width: 100%; max-width: 970px; border-bottom: 3px solid #ddd;}
	#wrapper { width: 100%; max-width: 970px; }
	#top #search-form, #top .weather { display: none; }
	#top  { width: 100%; }
	#wrapper > .topstories { display: none; }

	.menu { display: none; }



	.form-content .bc { display: none; }



	.comment-list > div { width: 100%; }
	#comment-form fieldset textarea  { width: 100%; }

	.fb-comments, .fb-comments span[style], .fb-comments iframe[style] {width: 100% !important;}


	.form .content-list { width: 100%; }

	#footer { width: 100%; }




.form { width: 100%; padding-right: 0; border: 0; }

	.col.left { width: 100%; margin-right: 0; }
	.col.left img { width: 100%;  }


	#commented-wrapper { width: 100%; border: 0; padding-left: 0; }


.col.right { width: 100%; float: left;   }

#jegyzet-box { width: 100%;}
#jegyzet-box img, #jegyzet-box p, #partner-box{ display: none; }







}
*/