html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
    overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*, *:before, *:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing:         border-box;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}

.clear:before, .clear:after { content: ''; display: table; }
.clear:after { clear: both; }

.ac_results { padding: 0px; border: 1px solid #686d6f; background-color: #fff; overflow: hidden; z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 4px; cursor: default; display: block; font: menu; font-size: 12px; line-height: 16px; overflow: hidden; font: normal 12px Arial, Helvetica; }
.ac_over { background-color: #ffffcc; }

img { max-width: 100%; height: auto; border: 0; vertical-align: text-bottom; display: block;}

input, textarea, select { font: normal 12px sans-serif; height: 28px; line-height: 29px; padding: 0 5px; outline: none; border: 1px solid #ccc; }
textarea { line-height: 1.4; padding: 5px; font-size: 14px; }

/* gombok */
button, .primary, .secondary {
    background-color: #111; border: none; display: inline-block;
    font: bold 12px Arial, Helvetica, sans-serif; text-decoration: none; text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); color: #fff;
    padding: 7px 14px; cursor: pointer; z-index: 1394949; border-radius: 2px;
}
.primary:hover, button:hover { text-decoration: none; }
.primary::-moz-focus-inner { border:0; padding:0; }
.secondary { background: #eee; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.05); color: #aaa; }
.secondary:hover { color: #aaa; background: #ddd; }

#overlay-mask {
  position: fixed; z-index: 16777270; width: 100%; height: 100%; opacity:0.9; filter:alpha(opacity=90); _position: absolute; top: 0; left: 0;
  background-color: #aaa; background-position: center center; background-repeat: no-repeat;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#aaa)); background: -webkit-radial-gradient(circle, #ffffff, #aaa); background: -moz-radial-gradient(circle, #ffffff, #aaa); background: -ms-radial-gradient(circle, #ffffff, #aaa);
}
#overlay-box { position: fixed; z-index: 16777271; }

/* overlay értesítés csík */
#overlay-box.notification { text-align: center; top: 0; width: 100%; height: 0; overflow: visible; }
#overlay-box.notification .content { cursor: pointer; display: inline-block; margin: 0 auto; padding: 10px 25px;
    background: #fff9cb;  overflow: hidden;  }
#overlay-box.notification a {  font-weight: 600; }

/* overlay dialógus ablak */
#overlay-box.dialog { background: transparent; _position: absolute; background: #fff; -webkit-box-shadow: 1px 1px 2px #aaa; -moz-box-shadow: 1px 1px 2px #aaa; box-shadow: 1px 1px 2px #aaa; }
#overlay-box.dialog .content { padding: 25px 20px; text-align: center; }
#overlay-box.dialog .buttons { padding: 10px 20px; background-color: #f6f6f6; border-top: 1px solid #eee; text-align: center; -webkit-border-radius: 0 0 6px 6px; -moz-border-radius: 0 0 6px 6px; border-radius: 0 0 6px 6px; }
#overlay-box.dialog .buttons .secondary { margin-left: 6px;  }


.material-icons { font-size: inherit; width: 1em; line-height: inherit; vertical-align: bottom;  }
.material-icons.material-external { margin-left: .25em; color: #222; }
.material-icons.material-hot,
.entry-meta .material-icons,
.entry-tags .material-icons,
.comment-foot .material-icons { margin-right: .25em; }



a#scroll-top { display: none; position: fixed; bottom: 60px; box-shadow: 0 0 2px rgba(0, 0, 0, .2); right: 10px; font-size: 40px; line-height: 45px; outline: none; z-index: 900001; background: #111; color: #fff; width: 45px; height: 45px; overflow: hidden; text-align: center; border-radius: 1px; }



a#next-post { display: none; position: fixed; right: 0; bottom: 50px;
outline: none; z-index: 900000;
padding: 10px 65px 10px 15px;
font: 700 19px "Open Sans Condensed", sans-serif; text-transform: uppercase;
color: #111;
background: #feaa00;
vertical-align: middle;
box-shadow: 0 0 2px rgba(0, 0, 0, .2);
text-decoration: none;
height: 65px; overflow: hidden;
border-radius: 1px 0 0 1px;

}
a#next-post span { display: block; font-size: 11px; white-space: nowrap; }
a#next-post i {  float: right; margin-left: 20px; font-size: 40px; line-height: 45px; outline: none; z-index: 7; background: #fff; color: #111; width: 45px; height: 45px; overflow: hidden;  text-align: center; border-radius: 1px;

}
a#next-post:hover i {
    transform: scale(1.1);
    transition: all .1s ease-in;
}


.defaultValue { color: #888 !important;  }

.wait { cursor: wait; }

/*
.video-embed { margin: 15px 0 0 0; position: relative; text-align: center; background: #eee; max-height: 352px; overflow: hidden; }
.video-embed .aspect-ratio { display: block; width: 100%; height: 0; }
.video-embed iframe { height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
*/

.video-embed { float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; margin-top: 15px; height: 0; text-align: center; }
.video-embed iframe { background: #eee; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.video-embed object, .video-embed embed { margin: 0 auto; }




.banner { clear:both; }
body.is-adult .banner, body.is-adult .banner > div > ins { display: none !important; }
.banner:before, .banner:after { content: ''; display: table; }
.banner:after { clear: both; }
.banner > div { display: block; clear:both; line-height: 0; width: 100%; text-align: center; }
.banner > div > ins { display: inline-block; width: 100%; text-align: center;  }


.cikkoldal-1 > div > ins { max-width: 336px; height: 280px; margin: 20px auto 5px auto; }

.cikkoldal-2 > div > ins { height: 280px; margin: 15px auto 5px auto; }

.cikkoldal-oldalhasab > div > ins { max-width: 300px; height: 600px; margin: 20px auto 10px auto; }

.cimlap-oldalhasab > div > ins { max-width: 300px; height: 600px; margin: 20px auto 0 auto; }

.listaoldal-1 > div > ins { height: 280px; margin: 0 auto 5px auto; }

.minden-csakmobilon > div > ins { display: none; }
@media (max-width: 560px) {
    .minden-csakmobilon > div > ins { display: block; height: 100px; margin: 0 auto 0 auto; }

    .cikkoldal-1 > div > ins { height: 250px; }

    .cikkoldal-oldalhasab > div > ins { height: 250px; }
}










html, body {
    font: 400 14px "Open Sans", Helvetica, Arial, sans-serif; line-height: 1.4;
    background-color: #fff; color: #333;
    text-rendering: optimizeLegibility;
    min-width: 320px !important;
    -webkit-font-smoothing: subpixel-antialiased;
}

b, strong { font-weight: 600; }

a, a:visited { cursor: pointer; color: #0f45a9; /*003dac*/text-decoration: none;  }
a:hover, a:focus, a:active { text-decoration: underline; }
a, a:hover, a i, a:hover i, .primary, .primary:hover, .secondary, .secondary:hover, button:hover {
    -webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
    -moz-transition: color .1s ease-in-out, background .1s ease-in-out;
    -ms-transition: color .1s ease-in-out, background .1s ease-in-out;
    -o-transition: color .1s ease-in-out, background .1s ease-in-out;
    transition: color .1s ease-in-out, background .1s ease-in-out;
}
a:hover { text-decoration: underline; }


h1, h2, h3, h4 { font: 800 15px "Open Sans", sans-serif; }



.site-footer {  width: 100%; max-width: 950px; padding: 30px 0 20px 0; color: #888; margin: 0 auto; }
.site-footer ul { border-top: 1px solid #eee; width: 100%; padding-top: 20px; text-align: center;  }
.site-footer li { display: inline-block; padding: 0 7px; border-left: 1px solid #eee; line-height: 12px; }
.site-footer li:first-child { border: none;  }





.site-header { display: table; width: 100%;  max-width: 950px; margin: 20px auto 0 auto; padding: 0 10px;}
.site-header > div { display: table-row; }

    .site-title { display: table-cell; vertical-align: middle; width: 174px;  }
    .site-title a { display: block; width: 164px; height: 40px; background: url('../images/default/logo.png') 0 0 no-repeat; background-size: cover; text-indent: -9876px; outline: none; }

    .site-tools { display: table-cell; text-align: right; overflow: hidden; vertical-align: middle; }
    .site-tools ul { width: auto; float: right; display: inline; /*height: 21px; */ overflow: hidden; }
    .site-tools li { display: inline-block; padding: 0 10px;
        font: 700 11px "Open Sans", sans-serif; text-transform: uppercase;
        border-right: 1px solid #eee;
        text-align: center;
    }

    .site-tools li a { color: #aaa; text-decoration: none; }
    .site-tools li a:hover { color: #222; }
    .site-tools li a i { font-size: 22px; display: block; height: 22px; margin: 0 auto;  }


    .site-tools li.like-button { display: inline; border: none; padding-right: 5px; }
    .site-tools li.like-button iframe { height:21px; width:120px; margin: 10px 0 0 10px; vertical-align: top; }



    /* aktivitás buborék */
    .site-tools li a#activity {  cursor: pointer; opacity: 1;  }

    /* aktivitás lista */
    ul#activity-list {
    display: none; position: absolute; margin-top: 10px; z-index: 16777269; max-width: 420px; text-align: left;
    padding: 0 0 5px 0; background: #fff; margin-left: -10px; height: auto; overflow-y: auto;
    border: 1px solid #ccc; border-top: 0;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
    border-radius: 1px;
    }

    ul#activity-list li { display: block;  border-bottom: 1px solid #f6f6f6; border-right: 0; padding: 7px 30px 7px 10px;  line-height: 1.5; text-transform: none;text-align: left; }
    ul#activity-list li:first-child { padding-top: 0; }
    ul#activity-list li a {  width: auto; text-transform: none; opacity: 1; line-height: 1.25; font-weight: 600;}


    .site-search { display: table-cell; vertical-align: middle; position: relative; width: 165px; padding-left: 6px; text-align: left; }
    .site-search form {   }
    .site-search form input#search-q { width: 100%; vertical-align: bottom; position: relative; padding-right: 30px; border-radius: 1px;}
    .site-search form input#search-q:focus { color: #333; border: 1px solid #aaa; }
    .site-search form button { position: absolute; right: 2px; z-index: 1; background: none; font-size: 19px; padding: 2px; text-shadow: none; color: #aaa;  margin-top: 0; margin-bottom: 0; }
    .site-search form button i { font-size: 22px; }


    .site-navigation { width: 100%; /*max-width: 950px; */  margin-top: 10px;   }
    .site-navigation ul { width: 100%; max-width: 970px; height: 36px; overflow: hidden; margin: 0 auto; background: #111; padding: 0 12px; border-radius: 1px; }

    .site-navigation li { display: inline-block; border-left: 1px solid #333; }
    .site-navigation li:last-child { border-right: 1px solid #333; }

    .site-navigation li a { display: inline-block; color: #fff;
    padding: 12px 8px; text-decoration: none;

    font: 700 14px "Open Sans Condensed", sans-serif; letter-spacing: 1px; line-height: 14px; text-transform: uppercase; }

    .site-navigation li a:hover { color: #feaa00; }
    .site-navigation li.active a {   }

    .site-navigation li.menu-toggle { display: none; padding: 10px 0;  }
    .site-navigation li.menu-toggle a { outline: none;   padding: 0 12px;}
    .site-navigation li.menu-toggle a i { font-weight: bold;}

    .site-navigation ul.toggled { height: auto;  }


    .site-navigation ul.toggled li,
    .site-navigation ul.toggled li a { }




.topstories .thumb { display: block; width: 35%;/*fallback*/ width: calc(110px); float: left; height: 57px; background-color: #eee; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; }
.topstories .title { display: block; width: 65%;/*fallback*/ width: calc(100% - 110px); padding: 0 0 0 10px; float:left; }

.topstories.header { width: 100%; max-width: 970px; padding: 0 10px 0 10px; margin: 0 auto; }
.topstories.header > div { width: 100%; padding: 15px 0; float:left;  border-bottom: 1px solid #eee; }
.topstories.header .title { float: none; height: 57px; display: table-cell; vertical-align: middle; }
.topstories.header div div { padding: 0 0 0 25px; width: 33%;/*fallback*/ width: calc(33.333333333% + 8.333333px); float: left; }
.topstories.header div div:first-child { padding: 0 0 0 0; width: 33%;/*fallback*/ width: calc(33.333333333% - 16.666666px);  }


.topstories.aside { }
.topstories.aside > div { clear: both; padding: 15px 0 10px 0;  border-bottom: 1px solid #f6f6f6;  }
.topstories.aside p { padding: 0 0 5px 0; font-size: 13px; line-height: 18px; display: none; }
.topstories.aside .share { float: right; width: 65%;/*fallback*/ width: calc(100% - 110px); padding: 5px 0 0 10px; }

.fb-page { margin: 0 auto; }
.fb-page > * { margin-top: 15px; }

.topstories.content,
.topstories.bottom { width: 100%; padding: 5px 0 0 0;  }

.topstories.content > div,
.topstories.bottom > div { width: 100%; float:left; padding: 0 0 20px 0; border-bottom: 1px solid #eee; }


.topstories.content div div,
.topstories.bottom div div { width: 100%; float:left; padding: 15px 0;  border-bottom: 1px solid #f6f6f6; }
.topstories.content div div:first-child,
.topstories.bottom div div:first-child { padding-top: 0; }



#content { display: block; width: 100%;   }
#primary {  width: 100%;  max-width: 970px; margin: 0 auto; padding: 0 10px; }

body.default .main { float: left; width: 65.46391758783505%; width: calc(66.666666666% - 8.333333px); padding: 10px 0 10px 0; overflow: hidden; }
body.content .main { padding-top: 0; }
body.home .main { padding-top: 0; }

body.default .main > div { }



.sidebar { float:left; width: 34.53608240546495%; width: calc(33.333333333% + 8.333333px); padding-left: 25px; }
.sidebar > div {  padding-bottom: 10px; }


.animated {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}



/* oldal címek címkeoldalon, user oldalakon */
.main h1 { font-size: 26px; line-height: 1.3; background: #fff; margin: 7px 0 15px 0; position: relative; text-transform: uppercase; }

.main ul.submenu { padding-bottom: 15px; }
.main ul.submenu li { display: inline; margin-right: 15px; }
.main ul.submenu li a { font-weight: bold; }
.main ul.submenu li a.active { color: #222; }









body.content article { padding-top: 20px; }
body.content article .entry-title { color: #222; font-size: 32px; line-height: 1.3; padding: 0 0 25px 0; }
body.content article .entry-title a { color: #222; }
body.content article .entry-title a:hover { text-decoration: none; }

.entry-meta { line-height: 21px !important;  white-space: nowrap; overflow-x: hidden;  vertical-align: middle; position: relative;}
.entry-meta:before { content: ""; display: block; border-top: 1px solid #eee; width: 100%; height: 1px; position: absolute; top: 50%; z-index: 1; }
.entry-meta > div { display: inline; padding-right: 0; background: #fff; position: relative; z-index: 5; }

.entry-meta > div > span {  color: #888; padding-right: 15px;  }


.entry-meta iframe { border:none; overflow: hidden; width: 84px; height: 21px; vertical-align: top; }

body.messages .entry-meta { text-align: right; }
body.messages .entry-meta > div > span { padding-left: 15px; padding-right: 0; }
body.messages .content-list { padding-top: 10px; }

/* cikkszöveg */
.entry-content { font: normal 18px Georgia, Times, 'Times New Roman', serif; line-height: 1.5; }

body.content .entry-content { padding-right: 5px; }

.entry-content p { padding-top: 15px; }
.entry-content p img { margin: 7px auto; }

.entry-content p iframe { display: block; max-width: 100%; margin: 7px auto;}
.entry-content iframe.instagram-media { width: 100%; }



.entry-content b,
.entry-content p b { font-weight: bold;  }

.entry-content > p:first-child,
.entry-content > p:first-child b { font-weight: normal; font: inherit; color: inherit; line-height: inherit;}


body.tag-a-szerk .entry-content { position:relative; padding: 40px 0 20px 0; margin-top: 15px; background: #eee;
    font-style: italic;  border-radius: 1px;}
body.tag-a-szerk .entry-content p,
body.tag-a-szerk .entry-content > p:first-child,
body.tag-a-szerk > p:first-child b { font-style: italic; }
body.tag-a-szerk .entry-content > * { margin: 0 15px; }


body.tag-a-szerk .entry-content:before {
    color: #aaa;
    content: "a szerk.";
    font-size: 56px;
    line-height: 1;
    position: absolute;
    top: -14px;
    right: 20px;
    display:block;
}



.entry-content blockquote { position:relative; margin-top: 15px; padding: 15px 20px 15px 65px;
    background-color: #eee;
    border-radius: 1px;

    }
.entry-content blockquote,
.entry-content blockquote p { font-weight: normal; font-style: italic;  font-size: 20px; }
.entry-content blockquote p:first-child { padding-top: 0; }

.entry-content blockquote:before {
    color:#888;
    content: "format_quote";
    font-family: 'Material Icons';
    font-size:52px;
    position: absolute;
    top: -6px;
    left: 0;
    display:block;
}


/*
body.tag-a-szerk .form-content div.text,
body.tag-a-szerk .form-content div.text p { font-style: italic; line-height: 160%; }

body.tag-a-szerk .form-content .text > p:first-child,
body.tag-a-szerk .form-content .text > p:first-child b,
body.tag-a-szerk .form-content .text p a { }

*/


/* nagykép */
.bigpicture-item { padding: 15px 0 5px 0; }
.bigpicture-item img { width: 100%; margin: 0 auto;  }
.bigpicture-item .taken { background: #ddd; padding: 20px 15px 15px 15px; font: 400 12px "Open Sans", sans-serif; line-height: 1.3; }
.bigpicture-item .taken span { float: right; display: inline-block; padding-left: 30px; margin-bottom: 5px;}
.bigpicture-item .taken span:after { clear: both; }


/* nagykép ajánlatok */
.bigpic-list { float:left; width: 100%; padding: 20px 0 10px 0; }
.bigpic-sug { padding: 8px 0 0 0;   }
.bigpic-sug a { float:left; padding-left: 10px; width: 25%;/*fallback*/ width: calc(25% + 2px); color: #222; overflow: hidden;}
.bigpic-sug a:first-child { padding-left: 0; width: 25%;/*fallback*/ width: calc(25% - 8px); }

.bigpic-sug .img { display: block; width: 100%; height: 0; padding-bottom: 52%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover;  background-color: #eee; }
.bigpic-sug .title {  display: block; padding-top: 6px; font-weight: 700; }



.social-buttons { clear: both; display: block; line-height: 21px; }
.social-buttons iframe { float: left;  margin-top: 20px; display: inline-block; border:none; overflow: hidden; width: 200px; height: 21px; vertical-align: top; }
.social-buttons > div { float: left; padding-top:20px;font-family:Arial,Helvetica; }

/* szekció címek sidebarban, címlapon */
h4.heading1 { margin-bottom: 5px; position: relative;
font: 700 19px "Open Sans Condensed", sans-serif; text-transform: uppercase;
}

h4.heading1:before, .main h1:before { content: ""; display: block; border-top: 1px solid #ddd; width: 100%; height: 1px; position: absolute; top: 50%; z-index: 1; }
h4.heading1 span, .main h1 span { padding: 0 10px 0 0; background: #fff; position: relative; z-index: 5; color: #222; }
h4.heading1 span a, .main h1 span a { color: #222; }


.entry-tags { clear: both; padding-top: 15px; color: #888; }
.entry-tags a { margin-left: 2px; }

body.content .related { clear: both;   }
body.content .related ul { }
body.content .related ul li { padding-top: 2px;  font-weight: 700; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;  }


body.content .hirkereso { clear: both;  }
body.content .hirkereso ul {  }
body.content .hirkereso ul li { padding-top: 2px;font-weight: 700; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
body.content .hirkereso ul li a {    }





.fb-comments-wrapper { clear: both; padding: 20px 0 0 0; overflow: hidden; }
.fb-comments { /*overflow: hidden;*/ }
.fb-comments-count { display: none;}





/* kommentek */


body.content .comment-wrapper { }
body.content .all-comments.toggled { display: block; }


.related-title,
.popular-on-web,
.comments-title,
#add-comment,
.on-frontpage { margin-top: 20px; clear: both; }

.on-frontpage-wrapper .topstories.bottom > div { border-bottom: 0; }

#show-comments { display: none;  font-size: 1.2em; line-height: 38px; padding: 0 .25em; cursor: pointer; }
#show-comments i { vertical-align: middle; }

.comment-pager { clear: both; margin: 15px 0 10px 0; padding: 10px; text-align: center; background: #fff9cb;  }
.comment-pager a { font-weight: bold; }

.comment-list > div { width: 100%; overflow: hidden; padding: 0 0 15px 10px; margin: 0 0 15px 0; border-bottom: 1px solid #f6f6f6;  }
.comment-list > div:first-child { margin-top: 15px; }
.comment-list > div.best { background: #f6f6f6; padding-top:10px; border-bottom:0; }

.comment-list .avatar { float: left; }
.comment-list .comment-right { float: left; width: 80%;/*fallback*/ width: calc(100% - 50px); overflow: hidden; padding: 0 0 0 15px;  }
.comment-list .username {  font-weight: bold; }
.comment-list .comment-text { padding: 5px 5px 10px 0;  }
.comment-list .comment-text a { color: #333;  }

.comment-list .comment-foot { color: #888; padding-right: 5px; }
.comment-list .comment-foot a { color: #888;  margin-left: 15px; }
.comment-list .comment-foot a:first-child { margin-left: 0; }
.comment-list .comment-foot a:hover { color: #666; text-decoration: none; }

.comment-list .comment-foot .ca-like span { padding-left: 3px; }

.comment-list .comment-foot .ca-date,
.comment-list .comment-foot .ca-report { float: right; }



.comment-list .comment-text i { color: #888; font-weight: 300;  } /* kimoderált szöveg */

/* új hozzászólás */

#comment-form,
#message-form { background: #eee; padding: 15px 10px 15px 10px; margin: 15px 0 20px 0; }

#comment-form fieldset textarea,
#message-form fieldset textarea { outline: none; width: 100%; height: 100px; border: 1px solid #ccc;   }

#comment-form fieldset #submit,
#message-form fieldset #submit { float: right; margin: 0 0 0 15px;  }

#comment-form fieldset > span,
#message-form fieldset > span { font-size: 12px; color: #888; float: right;  line-height: 30px;  }
#comment-form fieldset > span.moderalas { float: left;  }
#comment-form fieldset > span.moderalas a {  color: #666; text-decoration: none; }



/* új személyes üzenet */
#message-recipient { width: 100%; margin-bottom: 10px; }




#form { margin-top: 10px; font-size: 13px;   }


.main .error {  background: #fff9cb; padding: 10px 15px; text-align: center; margin-bottom: 15px; }
.main .error a {  font-weight: 600; }
#form .lead {  padding: 15px 0 0 0; }
#form .note { padding: 15px 0 0 0; font-size: 12px; color: #888;}

#form label { display: block; margin-top: 15px; }
#form input.text, #form textarea, #form select { width: 100%; max-width: 340px; margin: 2px 0 0 0; font-size: 14px; }

body.bekuldes #form input.text, body.bekuldes #form textarea, body.bekuldes #form select { max-width: 100%; }

#form textarea { height: 80px; }
#form input.radio { vertical-align: middle; background: none; border: none; height: 16px; margin: 2px; padding-left: 2px; }


#form .radio-wrapper { }
#form .radio-wrapper label { padding: 5px 0; font-weight: 400; margin-right: 10px;  vertical-align: middle; }
#form .radio-wrapper input { vertical-align: middle; background: none; border: none; margin-right: 4px; padding: 0; }

#form .checkbox-wrapper {  }
#form .checkbox-wrapper label { padding: 5px 0; width: 89%; margin-right: 10px; vertical-align: middle; }
#form .checkbox-wrapper input { vertical-align: middle; background: none; border: none; margin: 0 8px 0 0; padding: 0; }

#form .button-wrapper { margin-top: 20px; }
#form .button-wrapper input { margin: 0; vertical-align: middle; }
#form .button-wrapper a { margin-left: 15px; font-size: 12px; vertical-align: middle; }




.col { }

.col.left { float: left; width: 50%;/*fallback*/ width: calc(50% - 12.5px);  }
.col.right { float: right; width: 50%;/*fallback*/ width: calc(50% + 12.5px); padding-left: 25px; }

.block { clear: both; padding-top: 20px; }

.block .thumb { display: block; position: relative; width: 100%; height: 0; padding-top: 52%; background-color: #eee; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover; margin-bottom: 2px; }

.block h2 { }
.block.block-img h2 { padding-top: 4px; font-size: 18px !important; line-height: 1.3; font-weight: 700; }
.block.block-img h2 a {  }

.block.block-breaking h2 { font-size: 28px !important; font-weight: 800; line-height: 33px; }
.topstories-breaking .thumb { position: relative; }
.block.block-breaking .thumb span,
.topstories-breaking .thumb span { background: rgba(239, 0, 0, .95); position: absolute; bottom: 30px; left: 0;font-size: 22px !important; padding: 2px 7px; color: #fff; font-weight: 800; text-transform: uppercase; }

body.home .block.block-breaking .thumb span { font-size: 36px !important; }


.block p {  margin-top: 5px; }
.block ul {  list-style-type: none; list-style-position: outside; padding-left: 0; }
.block ul li {  font-size: 13px; margin-top: 5px; padding-left: 0; font-weight: 600;   }

.block i { color: #222; font-size: 85%; margin: 0 0 0 .35em; }







/* legfrissebb, most népszerű dobozok */
.list-box { clear: both; padding-top: 15px; }
.list-box ul {   }
.list-box ul li { display: block; font-size: 13px; line-height: 1.5; color: #888; padding: 4px 0;  border-bottom: 1px solid #f6f6f6;  }

.list-box ul li span { display: table-cell; width: 42px; text-align: right; padding-right: 10px; }
.list-box ul li a { display: table-cell;  }

.popular-box ul li span b { width: 25px; height: 25px; display: block; margin-left: 5px;
    text-align: center;
    overflow: hidden;
    background-color: #222;  color: #fff; border-radius: 50px;
font: 700 12px "Open Sans Condensed", sans-serif; line-height: 26px; }

.partner-box {    }
.partner-box.list-box ul li {  }
.partner-box.list-box ul li a {}


.partner-box h4.heading1 span img { display: inline-block; vertical-align: top; margin: 5px .4em 0 0; }

.tags-box.list-box ul li a { display:inline; white-space:nowrap; margin-right:.5em; font-weight:600; text-transform: uppercase;}

/* címke lista, legfrisebb lista, beküldés lista */
.content-list {   }
.content-list > div {  padding-top: 25px;  }
.content-list > div:first-child {  padding-top: 15px; }

.content-list .entry-meta { margin-top: 5px; }
.content-list p {  margin-top: 5px;   }
.content-list .entry-tags { padding-top: 10px;  }

body.settings .content-list div b { display: block; }

/* lapozás a listák alatt */
.pagination { clear: both; padding: 30px 0; border: 0; text-align: center; background: #fff; }
.pagination li { display: inline;  list-style: none; }
.pagination li:first-child { border-left: none;  }
.pagination li a, .pagination li span { padding: 8px 12px;  background: #eee; color: #222; }
.pagination li span { color: #222; }
.pagination li a:hover { text-decoration: none; background: #ddd;   }
.pagination .active a { text-decoration: none; background: none;   }














.entry-tags,
.bigpicture-item .taken span
{ font: 700 12px "Open Sans", sans-serif; line-height: 1.2; text-transform: uppercase; }

.entry-meta,
.site-footer li,
.topstories.aside .share,
.entry-tags h4,
.list-box ul li span,
.popular-comment
{ font: 400 12px "Open Sans", sans-serif; line-height: 1.3; text-transform: uppercase; color: #888; }


.site-footer li {
    line-height: 19px;
}

.gmedia-logo span {
    background:url(../images/default/gmedia_logo@2x.png) no-repeat transparent;
    display: inline-block;
    width: 38px; height: 19px;
    background-size: cover;
    vertical-align: middle;
}


.entry-meta a,
.site-footer li a,
.topstories.aside .share a
{ color: #888; }

.entry-meta a:hover,
.site-footer li a:hover,
.topstories.aside .share a:hover
{ color: #666; text-decoration: none; }

.topstories .title,
.content-list h2,
.pagination li,
.main h1 .small,
.block h2
{ font: 700 15px "Open Sans", sans-serif; line-height: 1.3; }



.topstories .title a,
.content-list h2 a,
.block h2 a
{ color: #222; }



.comment-wrapper,
.main .error,
#overlay-box.notification .content,
#overlay-box.dialog .content,
#commented-message-wrapper
{ font: normal 13px Arial, Helvetica, sans-serif; line-height: 1.25; }





@media (min-width: 768px) {
.topstories.aside div.big .thumb,
.topstories.aside div.topstories-breaking .thumb { width: 100%; height: 0; padding-top: 52%; }
.topstories.aside div.big .title,
.topstories.aside div.topstories-breaking .title { width: 100%; padding: 10px 10px 0 0;  font-size: 18px; }
.topstories.aside div.big .share,
.topstories.aside div.topstories-breaking .share {  width: 100%; padding: 5px 0 0 0; }




.topstories.content .thumb,
.topstories.bottom .thumb { float: none; display: block; width: 100%; height: 0; padding-bottom: 52%; }
.topstories.content .title,
.topstories.bottom .title { float: none; display: block;  width: 100%; padding: 10px 0 0 0;}
.topstories.content div div,
.topstories.bottom div div { padding: 0 0 0 25px; width: 33%; width: calc(33.333333333% + 8.333333px); float: left; border-bottom: 0;}
.topstories.content div div:first-child,
.topstories.bottom div div:first-child { padding: 0 0 0 0; width: 33%; width: calc(33.333333333% - 16.666666px);  }


}

@media (max-width: 768px) { /* full egyhasabos eddig */
    .site-tools li span { display: none; }
    .site-tools li.like-button { display: none; }
    .site-tools li i { font-size: 19px; }

    .site-navigation li.menu-toggle { display: inline; }


.topstories.header .thumb { width: 100%; height: 0; padding-bottom: 52%; }
.topstories.header .title { height: auto; font-size: 12px; padding-left: 0; padding-top: 5px; width: 100%; overflow: hidden; display: block; height: auto; white-space: nowrap; text-overflow: ellipsis; }

    body.default .main,
    .sidebar { clear: both; width: 100%; padding-left: 0;}
    body.content .entry-content { padding-right: 0; }

    body.content .hirkereso-wrapper { display: none; }

    #show-comments { display: inline; }
    body.content .all-comments { display: none; }
    #comment-form fieldset > span.moderalas { display: none; }

    .on-frontpage-wrapper { display: none; }

}




@media (max-width: 560px) {
    .site-tools li.newsletter,
    .site-tools li.activities,
    .site-tools li.messages,
    .site-tools li.bekuldes { display: none; }

    .site-header .site-search { width: auto; padding-bottom: 3px; }
    .site-header .site-search form { }
    .site-header .site-search form input#search-q, .site-header .site-search form input#search-q:focus { display: none;}
    .site-header .site-search form button {  position: relative; padding: 0;}


.topstories.header { display: none; }
body.home .topstories.header { display: block; }
body.home .topstories.header > div { padding-bottom: 10px; }

.topstories.header div div { padding: 0 0 0 10px; width: 33%;/*fallback*/ width: calc(33.333333333% + 3.333333px);  }
.topstories.header div div:first-child { width: 33%;/*fallback*/ width: calc(33.333333333% - 6.666666px);  }



    body.content article { padding-top: 25px; }
    body.content article .entry-title { font-size: 26px; line-height: 1.2; padding: 0 0 10px 0; word-wrap: break-word; }
    .entry-meta .comments-count,
    .entry-meta .fb-count,
    .entry-meta iframe { display: none; }
    .entry-meta { white-space: normal; oveflow: auto;}
    .entry-meta span { white-space: nowrap; }
    body.content .entry-content { font-size: 16px; line-height: 1.5; }

    .col.left, .col.right { clear:both; width: 100%; padding-left: 0; }
    .block:not(:first-child) p { display: none; }
    .block ul { list-style-type: none; padding-left: 0;}

    .col.right .list-box { display: none; } /* most beszédtéma, partnerdobozok kijönnek */

    .bigpic-list { display: none; }

}





