



{if isset($smarty.get.miniad)}
<!-- Goa3 beépítés: propeller.hu kep + szoveg 1., 3765609 -->
<div id="zone3765609" class="goAdverticum"></div>
<!-- A g3.js-t oldalanként egyszer, a </body> zárótag elõtt kell meghívni -->
{/if}
