@charset "utf-8";

/* image replacement */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

/* clearfix */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

html {  overflow-y: scroll; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #fff;
	margin: 0;
	padding: 0;
	font-size:14px;
	line-height: 18px;
	font-family:Arial, Helvetica, sans-serif;
	color: #222;
}

#container {
	margin: 20px auto;
	text-align: left;
	max-width: 640px;
}

h1, form, p { 	padding: 0; margin: 0; }
p { padding: 0 0 15px 0;}

#header-container {
	padding: 0 20px 20px 20px;
}
#header-container h1 {
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
}

#response-container p {
	padding: 0 20px 20px 20px;
	color: red;
}

#main-container {
	padding: 20px 20px 30px 20px;
	background: #ddd;
	-webkit-box-shadow: 0 0 70px #eee; -moz-box-shadow: 0 0 70px #eee; box-shadow: 0 0 70px #eee;
}

#main-container p.desc {   }
#main-container p.subdesc { font-size: 12px; color: #999; }

#main-container form {  }

#main-container form label {  width: 100px; display: inline-block; padding: 5px 0; }
#main-container form span {  font-size: 12px; }

input[type="text"],
input[type="email"] { padding: 4px; border: 1px solid #ddd; min-width: 200px; font-size: 14px; margin: 2px 0;}


input[type="submit"] {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #ffffff;
font-weight: bold;
padding: 4px 12px;
background: #ff8c00;
border-radius: 2px;
border: 1px solid #e67b00;
-moz-box-shadow: inset 0px 0px 1px rgba(255,149,28,0.5);
-webkit-box-shadow: inset 0px 0px 1px rgba(255,149,28,0.5);
box-shadow: inset 0px 0px 1px rgba(255,149,28,0.5);
cursor: pointer;
}


#footer-container {
	padding: 20px 20px 20px 20px;
	color: #bbb;
	font-size: 12px;
}
#footer-container a {
	color: #bbb;
}