

{if ($SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/content.php' && $content.fullembed)}

    <div id="banner-sidebar" class="banner">
        {$env->getBanner('slave', $ad.category, $ad.page, 'halfpage_felso')}
    </div>

    {include file="./content/box_latest.tpl"}
{else}
    {include file="./content/box_latest.tpl"}

    <div id="banner-sidebar" class="banner">
        {$env->getBanner('slave', $ad.category, $ad.page, 'halfpage_felso')}
    </div>
{/if}



{if $SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/home.php'}
    <div class="list-box partner-box">
    <h4 class="heading1"><span><img src="https://www.google.com/s2/favicons?domain=168ora.hu" alt="168ora.hu">168 óra</span></h4>
    <ul>
        {section name=p loop=$partners start=0 max=5}
        <li><a href="{$partners[p].link}" rel="nofollow" class="outgoing">{$partners[p].title|truncate:98:"..."|escape}</a></li>
        {/section}
    </ul>
    </div>


    <div class="list-box partner-box">
    <h4 class="heading1"><span><img src="https://www.google.com/s2/favicons?domain=napidoktor.hu" alt="napidoktor.hu">Napidoktor</span></h4>
    <ul>
        {section name=p loop=$partners start=20 max=3}
        <li><a href="{$partners[p].link}" rel="nofollow" class="outgoing">{$partners[p].title|truncate:98:"..."|escape}</a></li>
        {/section}
    </ul>
    </div>

    <div class="list-box partner-box">
    <h4 class="heading1"><span><img src="https://www.google.com/s2/favicons?domain=izeselet.hu" alt="izeselet.hu">Ízes élet</span></h4>
    <ul>
        {section name=p loop=$partners start=25 max=3}
        <li><a href="{$partners[p].link}" rel="nofollow" class="outgoing">{$partners[p].title|truncate:98:"..."|escape}</a></li>
        {/section}
    </ul>
    </div>
{/if}



{if ($SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/home.php') ||
    ($SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/content.php') ||
    ($SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/category.php')
    }
    {include file="./content/box_top.tpl"}

    <div id="banner-sidebar" class="banner">
        {$env->getBanner('slave', $ad.category, $ad.page, 'medium_rectangle_also')}
    </div>

    {if $SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/content.php'}
        <!-- /21667127856/propeller_cikk_4 -->
        <div id='propeller_cikk_4'>
        <script>{literal}
        googletag.cmd.push(function() { googletag.display('propeller_cikk_4'); });
        </script>{/literal}
        </div>
    {/if}

    {if $SCRIPT_NAME == '/colibrimedia/prop/public/modules/content/home.php'}
        <!-- /21667127856/propeller_nyito_5 -->
        <div id='propeller_nyito_5'>
        <script>{literal}
        googletag.cmd.push(function() { googletag.display('propeller_nyito_5'); });
        </script>{/literal}
        </div>
    {/if}

    <iframe src="https://nuus.hu/?wp_embed_box=eaaf549f6ea9" style="margin-top:25px;" width="310" height="300" frameborder="0" scrolling="no"></iframe>
{/if}


{if !$short_sidebar}
    {assign var="topstories_first_big" value=true}
    {include file="./content/box_topstories.tpl"}
{/if}

<div class="list-box" style="padding-top:0;text-align:center;">
    <div class="fb-page" data-href="https://www.facebook.com/propellerhu" data-hide-cta="true" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"></div>
</div>

