input.required, textarea.required {

}
input.validation-failed, textarea.validation-failed {

}
input.validation-passed, textarea.validation-passed {

}

.validation-advice {
	margin: 8px 12px;
	padding: 6px 12px;
	background-color: #fff998; 
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}
